In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\skme2\anaconda3\lib\site-packages (1.22.4)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\skme2\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\skme2\anaconda3\lib\site-packages)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install --upgrade pip

Requirement already satisfied: pip in c:\users\skme2\anaconda3\lib\site-packages (23.3.1)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.0-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 2.1/2.1 MB 16.8 MB/s eta 0:00:00

WARNING: Ignoring invalid distribution -atplotlib (c:\users\skme2\anaconda3\lib\site-packages)
ERROR: To modify pip, please run the following command:
C:\Users\skme2\anaconda3\python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np

C:\Users\skme2\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\skme2\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\skme2\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [5]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [8]:
x = []
for i in lst:
    x.append(i+1)

In [9]:
x

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
%timeit [i**2 for i in lst]

2.3 µs ± 121 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [13]:
arr = np.array(lst)

In [14]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [15]:
arr + 1

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [16]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [18]:
%timeit arr**2

430 ns ± 24.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [20]:
lst + 1

TypeError: can only concatenate list (not "int") to list

In [21]:
lst + [1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [23]:
arr + 1

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [24]:
k = [4,5,6,7,8,9]

In [25]:
type(k)

list

In [27]:
g  =np.array(k)

In [28]:
type(g)

numpy.ndarray

In [29]:
g

array([4, 5, 6, 7, 8, 9])

In [30]:
g.ndim

1

In [31]:
g.shape

(6,)

In [37]:
s = np.arange(1,20,2)

In [38]:
type(s)

numpy.ndarray

In [39]:
s

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [40]:
s.ndim

1

In [41]:
s.shape

(10,)

In [42]:
lst_2d  =[[1,2,3], [4,5,6], [7,8,9]]

In [43]:
lst_2d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
type(lst_2d)

list

In [46]:
arr1 = np.array(lst_2d)

In [47]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [48]:
type(arr1)

numpy.ndarray

In [49]:
arr1.ndim

2

In [50]:
arr1.shape

(3, 3)

In [51]:
arr1.nbytes

36

In [53]:
arr1.nonzero()

(array([0, 0, 0, 1, 1, 1, 2, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2, 0, 1, 2], dtype=int64))

In [54]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [55]:
arr1.dtype

dtype('int32')

In [56]:
# Special Arrays in Numpy

In [57]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [59]:
np.zeros((8,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [60]:
np.ones(6)

array([1., 1., 1., 1., 1., 1.])

In [62]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [63]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [66]:
np.diag([5])

array([[5]])

In [70]:
np.diag([4,8,9,10], k= 3)

array([[ 0,  0,  0,  4,  0,  0,  0],
       [ 0,  0,  0,  0,  8,  0,  0],
       [ 0,  0,  0,  0,  0,  9,  0],
       [ 0,  0,  0,  0,  0,  0, 10],
       [ 0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0]])

In [71]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [73]:
np.eye(9)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [74]:
np.identity(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [75]:
# indexing in Array

In [80]:
np.random.randint(10,100)

18

In [82]:
new_arr = np.random.randint(10, 100, (6,8))

In [83]:
new_arr.shape

(6, 8)

In [84]:
new_arr.ndim

2

In [85]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [87]:
new_arr[0]

array([11, 15, 37, 40, 30, 45, 42, 16])

In [88]:
new_arr[1]

array([17, 89, 32, 58, 53, 80, 41, 91])

In [89]:
new_arr[2]

array([58, 78, 72, 74, 42, 84, 17, 16])

In [91]:
new_arr[-1]

array([63, 89, 71, 28, 37, 49, 99, 96])

In [92]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [93]:
new_arr[-2]

array([16, 83, 68, 60, 68, 63, 86, 36])

In [94]:
new_arr[:,0]

array([11, 17, 58, 65, 16, 63])

In [95]:
new_arr[:,1]

array([15, 89, 78, 77, 83, 89])

In [96]:
new_arr[:,-1]

array([16, 91, 16, 45, 36, 96])

In [97]:
new_arr[:,-2]

array([42, 41, 17, 24, 86, 99])

In [98]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [99]:
new_arr[0,0]

11

In [100]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [101]:
new_arr[0:2,0:2]

array([[11, 15],
       [17, 89]])

In [103]:
new_arr[4:, 6:]

array([[86, 36],
       [99, 96]])

In [104]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [106]:
new_arr[-2:, -2:]

array([[86, 36],
       [99, 96]])

In [108]:
new_arr[3, 3]

16

In [109]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [110]:

new_arr[:, -1]

array([16, 91, 16, 45, 36, 96])

In [111]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72, 74, 42, 84, 17, 16],
       [65, 77, 32, 16, 14, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [114]:
new_arr[2:4, 3:5] = 0

In [115]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72,  0,  0, 84, 17, 16],
       [65, 77, 32,  0,  0, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [116]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72,  0,  0, 84, 17, 16],
       [65, 77, 32,  0,  0, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [117]:
# masking

In [118]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72,  0,  0, 84, 17, 16],
       [65, 77, 32,  0,  0, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [120]:

new_arr>50

array([[False, False, False, False, False, False, False, False],
       [False,  True, False,  True,  True,  True, False,  True],
       [ True,  True,  True, False, False,  True, False, False],
       [ True,  True, False, False, False,  True, False, False],
       [False,  True,  True,  True,  True,  True,  True, False],
       [ True,  True,  True, False, False, False,  True,  True]])

In [122]:
new_arr[new_arr>50]

array([89, 58, 53, 80, 91, 58, 78, 72, 84, 65, 77, 67, 83, 68, 60, 68, 63,
       86, 63, 89, 71, 99, 96])

In [125]:
np.sum(new_arr>50)

23

In [128]:
new_arr[new_arr>50]

array([89, 58, 53, 80, 91, 58, 78, 72, 84, 65, 77, 67, 83, 68, 60, 68, 63,
       86, 63, 89, 71, 99, 96])

In [131]:
new_arr[~(new_arr>50)]

array([11, 15, 37, 40, 30, 45, 42, 16, 17, 32, 41,  0,  0, 17, 16, 32,  0,
        0, 24, 45, 16, 36, 28, 37, 49])

In [132]:
new_arr

array([[11, 15, 37, 40, 30, 45, 42, 16],
       [17, 89, 32, 58, 53, 80, 41, 91],
       [58, 78, 72,  0,  0, 84, 17, 16],
       [65, 77, 32,  0,  0, 67, 24, 45],
       [16, 83, 68, 60, 68, 63, 86, 36],
       [63, 89, 71, 28, 37, 49, 99, 96]])

In [133]:
# Basic Operations in Arrays

In [134]:
a = np.array([10,20,30,40])

In [135]:
b = np.arange(1,5)

In [136]:
a

array([10, 20, 30, 40])

In [137]:
b

array([1, 2, 3, 4])

In [138]:
a+b

array([11, 22, 33, 44])

In [139]:
a-b

array([ 9, 18, 27, 36])

In [140]:
a*b

array([ 10,  40,  90, 160])

In [141]:
a/b

array([10., 10., 10., 10.])

In [142]:
b**2

array([ 1,  4,  9, 16])

In [143]:
a**3

array([ 1000,  8000, 27000, 64000], dtype=int32)

In [144]:
a>15

array([False,  True,  True,  True])

In [145]:
a[a>15]

array([20, 30, 40])

In [149]:
a[~(a>15)]

array([10])

In [150]:
np.log(a)

array([2.30258509, 2.99573227, 3.40119738, 3.68887945])

In [151]:
np.sin(b)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [152]:
np.cos(a)

array([-0.83907153,  0.40808206,  0.15425145, -0.66693806])

In [153]:
# matrix product

In [154]:
p = np.random.randint(0,5,(3,4))

In [155]:
q = np.random.randint(0,5,(4,5))

In [156]:
p

array([[0, 2, 0, 3],
       [1, 0, 0, 4],
       [2, 3, 4, 0]])

In [157]:
q

array([[2, 2, 2, 4, 1],
       [1, 3, 0, 2, 0],
       [1, 4, 2, 3, 4],
       [1, 1, 1, 2, 4]])

In [158]:
np.dot(p,q)

array([[ 5,  9,  3, 10, 12],
       [ 6,  6,  6, 12, 17],
       [11, 29, 12, 26, 18]])

In [159]:
p * q

ValueError: operands could not be broadcast together with shapes (3,4) (4,5)

In [160]:
d  =np.random.randint(0,5,(2,2))

In [161]:
c = np.random.randint(0,5,(2,2))

In [162]:
d

array([[2, 1],
       [4, 1]])

In [163]:
c

array([[2, 3],
       [1, 2]])

In [164]:
np.dot(d,c)

array([[ 5,  8],
       [ 9, 14]])

In [165]:
d*c

array([[4, 3],
       [4, 2]])

In [166]:
# More Operations on Arrays

In [167]:
z  =np.arange(0,24)

In [168]:
z

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [169]:
z.reshape(8,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23]])

In [171]:
z.reshape(6,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [172]:
z.reshape(12,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23]])

In [173]:
z.reshape(2,12)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

In [175]:
z = z.reshape(4,6)

In [176]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [177]:
np.sqrt(z)

array([[0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
        2.23606798],
       [2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766,
        3.31662479],
       [3.46410162, 3.60555128, 3.74165739, 3.87298335, 4.        ,
        4.12310563],
       [4.24264069, 4.35889894, 4.47213595, 4.58257569, 4.69041576,
        4.79583152]])

In [178]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [179]:
np.sum(z)

276

In [183]:
np.sum(z,axis=-1 )

array([ 15,  51,  87, 123])

In [184]:
np.sum(z,0)

array([36, 40, 44, 48, 52, 56])

In [185]:
np.sum(z, axis=1)

array([ 15,  51,  87, 123])

In [186]:
np.min(z)

0

In [187]:
np.min(z, axis=0)

array([0, 1, 2, 3, 4, 5])

In [188]:
np.min(z, axis=1)

array([ 0,  6, 12, 18])

In [189]:
np.average(z)

11.5

In [190]:
np.average(z, axis=0)

array([ 9., 10., 11., 12., 13., 14.])

In [191]:
np.average(z, axis=1)

array([ 2.5,  8.5, 14.5, 20.5])

In [192]:
np.std(z)

6.922186552431729

In [193]:
np.std(z, axis=0)

array([6.70820393, 6.70820393, 6.70820393, 6.70820393, 6.70820393,
       6.70820393])

In [194]:
np.std(z, axis=1)

array([1.70782513, 1.70782513, 1.70782513, 1.70782513])

In [195]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [196]:
z.reshape(12,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23]])

In [197]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [198]:
z.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [199]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [200]:
z.T

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])

In [202]:
z

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [204]:
np.transpose(z)

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])

In [205]:
# Stacking of Arrays

In [206]:
m = np.random.randint(0,10, (2,2))

In [207]:
m

array([[9, 2],
       [7, 8]])

In [208]:
n = np.random.randint(0,10, (2,2))

In [209]:
n

array([[2, 3],
       [4, 6]])

In [211]:
np.hstack((m,n))

array([[9, 2, 2, 3],
       [7, 8, 4, 6]])

In [214]:
np.vstack((m,n))

array([[9, 2],
       [7, 8],
       [2, 3],
       [4, 6]])

In [215]:
A = np.random.randint(0,10,size = (3,3))

In [216]:
A

array([[3, 2, 5],
       [2, 4, 4],
       [7, 9, 2]])

In [222]:
B = np.array([[1,2,3]])

In [223]:
B

array([[1, 2, 3]])

In [224]:
A.shape

(3, 3)

In [225]:
B.shape

(1, 3)

In [226]:
A + B

array([[ 4,  4,  8],
       [ 3,  6,  7],
       [ 8, 11,  5]])

In [227]:
A.T

array([[3, 2, 7],
       [2, 4, 9],
       [5, 4, 2]])

In [228]:
B + A.T

array([[ 4,  4, 10],
       [ 3,  6, 12],
       [ 6,  6,  5]])

In [229]:
A

array([[3, 2, 5],
       [2, 4, 4],
       [7, 9, 2]])

In [230]:
A + 5

array([[ 8,  7, 10],
       [ 7,  9,  9],
       [12, 14,  7]])

In [231]:
A * 3

array([[ 9,  6, 15],
       [ 6, 12, 12],
       [21, 27,  6]])

In [232]:
# vectorizations

In [233]:
p1 = np.array([1,2,4,7,-2,9,6,0])

In [234]:
p2 = np.array([5,5,8,2,-9,2,1,6])

In [235]:
p1

array([ 1,  2,  4,  7, -2,  9,  6,  0])

In [236]:
p2

array([ 5,  5,  8,  2, -9,  2,  1,  6])

In [237]:
sum_12 = 0
for i in range(len(p1)):
    sum_12+=(p2[i]-p1[i])**2

In [238]:
sum_12

225

In [240]:
sum_12**0.5

15.0

In [241]:
p1

array([ 1,  2,  4,  7, -2,  9,  6,  0])

In [242]:
p2

array([ 5,  5,  8,  2, -9,  2,  1,  6])

In [248]:
def distance(p1,p2):
    return np.sqrt(np.sum(np.square(p2-p1)))

In [249]:
distance(p1,p2)

15.0

In [250]:
# pandas

In [251]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\skme2\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\skme2\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\skme2\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\skme2\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in c:\users\skme2\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\skme2\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\skme2\anaconda3\lib\site-packages)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [252]:
import pandas as pd

In [253]:
w = ['Python', 'javaScript', 'c', 'c++', 'HTML', 'CSS']

In [254]:
w

['Python', 'javaScript', 'c', 'c++', 'HTML', 'CSS']

In [255]:
type(w)

list

In [257]:
ser = pd.Series(w)

In [258]:
ser

0        Python
1    javaScript
2             c
3           c++
4          HTML
5           CSS
dtype: object

In [259]:
type(ser)

pandas.core.series.Series

In [261]:
ser[2]

'c'

In [262]:
ser[1]

'javaScript'

In [264]:
ser[4]

'HTML'

In [266]:
ser.index = ['A', "B", 'C', 'D', 'E', 'F']

In [267]:
ser

A        Python
B    javaScript
C             c
D           c++
E          HTML
F           CSS
dtype: object

In [268]:
ser['A']

'Python'

In [271]:
ser['E']

'HTML'

In [273]:
ser[4]

'HTML'

In [274]:
import numpy as np

In [279]:
arr = np.random.randint(10,100, size = (8,6))

In [281]:
df = pd.DataFrame(arr)

In [282]:
df

    0   1   2   3   4   5
0  51  53  72  45  92  71
1  49  18  19  80  51  78
2  55  73  34  38  58  32
3  36  25  40  87  64  19
4  10  47  70  20  39  54
5  55  57  21  52  37  97
6  21  57  22  14  31  35
7  78  40  62  56  95  30

In [283]:
type(df)

pandas.core.frame.DataFrame

In [285]:
df[2]

0    72
1    19
2    34
3    40
4    70
5    21
6    22
7    62
Name: 2, dtype: int32

In [287]:
df[1]

0    53
1    18
2    73
3    25
4    47
5    57
6    57
7    40
Name: 1, dtype: int32

In [290]:
df[0]

0    51
1    49
2    55
3    36
4    10
5    55
6    21
7    78
Name: 0, dtype: int32

In [294]:
df[5]

0    71
1    78
2    32
3    19
4    54
5    97
6    35
7    30
Name: 5, dtype: int32

In [296]:
df.loc[0]

0    51
1    53
2    72
3    45
4    92
5    71
Name: 0, dtype: int32

In [297]:
df

    0   1   2   3   4   5
0  51  53  72  45  92  71
1  49  18  19  80  51  78
2  55  73  34  38  58  32
3  36  25  40  87  64  19
4  10  47  70  20  39  54
5  55  57  21  52  37  97
6  21  57  22  14  31  35
7  78  40  62  56  95  30

In [298]:
df.loc[2]

0    55
1    73
2    34
3    38
4    58
5    32
Name: 2, dtype: int32

In [299]:
df

    0   1   2   3   4   5
0  51  53  72  45  92  71
1  49  18  19  80  51  78
2  55  73  34  38  58  32
3  36  25  40  87  64  19
4  10  47  70  20  39  54
5  55  57  21  52  37  97
6  21  57  22  14  31  35
7  78  40  62  56  95  30

In [300]:
df.iloc[1]

0    49
1    18
2    19
3    80
4    51
5    78
Name: 1, dtype: int32

In [302]:
df

    0   1   2   3   4   5
0  51  53  72  45  92  71
1  49  18  19  80  51  78
2  55  73  34  38  58  32
3  36  25  40  87  64  19
4  10  47  70  20  39  54
5  55  57  21  52  37  97
6  21  57  22  14  31  35
7  78  40  62  56  95  30

In [303]:
df.loc[:,5]

0    71
1    78
2    32
3    19
4    54
5    97
6    35
7    30
Name: 5, dtype: int32

In [305]:
df.index = "a b c d e f g h".split()

In [306]:
df

    0   1   2   3   4   5
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [309]:
df.columns = ['p', 'q', 'r', 's', 't', 'u']

In [310]:
df

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [312]:
df[5]

KeyError: 5

In [314]:
df[2]

KeyError: 2

In [316]:
df['q']

a    53
b    18
c    73
d    25
e    47
f    57
g    57
h    40
Name: q, dtype: int32

In [318]:
df['s']

a    45
b    80
c    38
d    87
e    20
f    52
g    14
h    56
Name: s, dtype: int32

In [320]:
df.loc[2]

KeyError: 2

In [321]:
df.iloc[2]

p    55
q    73
r    34
s    38
t    58
u    32
Name: c, dtype: int32

In [322]:
df

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [323]:
df.loc['c']

p    55
q    73
r    34
s    38
t    58
u    32
Name: c, dtype: int32

In [325]:
df.iloc[3:5,2:4]

    r   s
d  40  87
e  70  20

In [326]:
df

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [328]:
df.iloc[0,0]

51

In [329]:
df.shape

(8, 6)

In [330]:
df.head()

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54

In [331]:
df.head(2)

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78

In [332]:
df.tail()

    p   q   r   s   t   u
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [333]:
df.tail(3)

    p   q   r   s   t   u
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [338]:
df.sample(2)

    p   q   r   s   t   u
d  36  25  40  87  64  19
f  55  57  21  52  37  97

In [342]:
df[['r', 's']]

    r   s
a  72  45
b  19  80
c  34  38
d  40  87
e  70  20
f  21  52
g  22  14
h  62  56

In [344]:
df[['t', 'q', 'r']]

    t   q   r
a  92  53  72
b  51  18  19
c  58  73  34
d  64  25  40
e  39  47  70
f  37  57  21
g  31  57  22
h  95  40  62

In [345]:
df

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [349]:
df['v'] =  df['p'] + 5

In [350]:
df

    p   q   r   s   t   u   v
a  51  53  72  45  92  71  56
b  49  18  19  80  51  78  54
c  55  73  34  38  58  32  60
d  36  25  40  87  64  19  41
e  10  47  70  20  39  54  15
f  55  57  21  52  37  97  60
g  21  57  22  14  31  35  26
h  78  40  62  56  95  30  83

In [351]:
df['s']

a    45
b    80
c    38
d    87
e    20
f    52
g    14
h    56
Name: s, dtype: int32

In [352]:
df['t']

a    92
b    51
c    58
d    64
e    39
f    37
g    31
h    95
Name: t, dtype: int32

In [356]:
df['w'] = df['s'] + df['t']

In [357]:
df

    p   q   r   s   t   u   v    w
a  51  53  72  45  92  71  56  137
b  49  18  19  80  51  78  54  131
c  55  73  34  38  58  32  60   96
d  36  25  40  87  64  19  41  151
e  10  47  70  20  39  54  15   59
f  55  57  21  52  37  97  60   89
g  21  57  22  14  31  35  26   45
h  78  40  62  56  95  30  83  151

In [359]:
df['x'] = 5

In [360]:
df

    p   q   r   s   t   u   v    w  x
a  51  53  72  45  92  71  56  137  5
b  49  18  19  80  51  78  54  131  5
c  55  73  34  38  58  32  60   96  5
d  36  25  40  87  64  19  41  151  5
e  10  47  70  20  39  54  15   59  5
f  55  57  21  52  37  97  60   89  5
g  21  57  22  14  31  35  26   45  5
h  78  40  62  56  95  30  83  151  5

In [365]:
df.drop('v',axis=1, inplace=True )

In [366]:
df

    p   q   r   s   t   u    w  x
a  51  53  72  45  92  71  137  5
b  49  18  19  80  51  78  131  5
c  55  73  34  38  58  32   96  5
d  36  25  40  87  64  19  151  5
e  10  47  70  20  39  54   59  5
f  55  57  21  52  37  97   89  5
g  21  57  22  14  31  35   45  5
h  78  40  62  56  95  30  151  5

In [373]:
df = df.drop(labels=['w', 'x'], axis=1)

In [374]:
df

    p   q   r   s   t   u
a  51  53  72  45  92  71
b  49  18  19  80  51  78
c  55  73  34  38  58  32
d  36  25  40  87  64  19
e  10  47  70  20  39  54
f  55  57  21  52  37  97
g  21  57  22  14  31  35
h  78  40  62  56  95  30

In [376]:
df.drop(columns=['s', 't'], axis=1, inplace=True)

In [377]:
df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57  22  35
h  78  40  62  30

In [378]:
df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57  22  35
h  78  40  62  30

In [382]:
df.iloc[-2:][['p', 'q']]

    p   q
g  21  57
h  78  40

In [383]:
df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57  22  35
h  78  40  62  30

In [386]:
df.iloc[-2:, -2:] = 0

In [387]:
df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57   0   0
h  78  40   0   0

In [388]:
# Masking or Boolean Indexing

In [389]:

df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57   0   0
h  78  40   0   0

In [390]:
df>50

       p      q      r      u
a   True   True   True   True
b  False  False  False   True
c   True   True  False  False
d  False  False  False  False
e  False  False   True   True
f   True   True  False   True
g  False   True  False  False
h   True  False  False  False

In [392]:
df[df>50]

      p     q     r     u
a  51.0  53.0  72.0  71.0
b   NaN   NaN   NaN  78.0
c  55.0  73.0   NaN   NaN
d   NaN   NaN   NaN   NaN
e   NaN   NaN  70.0  54.0
f  55.0  57.0   NaN  97.0
g   NaN  57.0   NaN   NaN
h  78.0   NaN   NaN   NaN

In [393]:
df[~(df>50)]

      p     q     r     u
a   NaN   NaN   NaN   NaN
b  49.0  18.0  19.0   NaN
c   NaN   NaN  34.0  32.0
d  36.0  25.0  40.0  19.0
e  10.0  47.0   NaN   NaN
f   NaN   NaN  21.0   NaN
g  21.0   NaN   0.0   0.0
h   NaN  40.0   0.0   0.0

In [395]:
df[df>30]

      p     q     r     u
a  51.0  53.0  72.0  71.0
b  49.0   NaN   NaN  78.0
c  55.0  73.0  34.0  32.0
d  36.0   NaN  40.0   NaN
e   NaN  47.0  70.0  54.0
f  55.0  57.0   NaN  97.0
g   NaN  57.0   NaN   NaN
h  78.0  40.0   NaN   NaN

In [396]:
df[~(df>30)]

      p     q     r     u
a   NaN   NaN   NaN   NaN
b   NaN  18.0  19.0   NaN
c   NaN   NaN   NaN   NaN
d   NaN  25.0   NaN  19.0
e  10.0   NaN   NaN   NaN
f   NaN   NaN  21.0   NaN
g  21.0   NaN   0.0   0.0
h   NaN   NaN   0.0   0.0

In [400]:
df[df['p']>20]

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
f  55  57  21  97
g  21  57   0   0
h  78  40   0   0

In [407]:
df[df['q']>30][['p','q']]

    p   q
a  51  53
c  55  73
e  10  47
f  55  57
g  21  57
h  78  40

In [414]:
df['r']<50

a    False
b     True
c     True
d     True
e    False
f     True
g     True
h     True
Name: r, dtype: bool

In [415]:
df['u']>40

a     True
b     True
c    False
d    False
e     True
f     True
g    False
h    False
Name: u, dtype: bool

In [417]:
df[(df['r']<50) & (df['u']>40)]

    p   q   r   u
b  49  18  19  78
f  55  57  21  97

In [418]:
df

    p   q   r   u
a  51  53  72  71
b  49  18  19  78
c  55  73  34  32
d  36  25  40  19
e  10  47  70  54
f  55  57  21  97
g  21  57   0   0
h  78  40   0   0

In [420]:
arr = df.values

In [421]:
arr

array([[51, 53, 72, 71],
       [49, 18, 19, 78],
       [55, 73, 34, 32],
       [36, 25, 40, 19],
       [10, 47, 70, 54],
       [55, 57, 21, 97],
       [21, 57,  0,  0],
       [78, 40,  0,  0]])

In [422]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [423]:
ls

 Volume in drive C is OS
 Volume Serial Number is 0CC1-C20F

 Directory of C:\Users\skme2\Downloads

12-02-2024  23:34    <DIR>          .
12-02-2024  18:58    <DIR>          ..
12-02-2024  23:02    <DIR>          .ipynb_checkpoints
21-12-2023  11:58    <DIR>          __pycache__
06-11-2023  11:20             2,633 01_11_sql_practice.sql
02-11-2022  15:49           410,816 0211resume.pdf
03-09-2023  14:20            54,756 03_09_1_pm_Functions.ipynb
13-10-2023  15:25    <DIR>          03_10_4pm
13-10-2023  15:24        98,232,624 03_10_4pm.zip
20-03-2023  16:51           118,844 04_06.ipynb
13-10-2023  15:24    <DIR>          04_10_4pm
13-10-2023  15:23        85,733,531 04_10_4pm.zip
04-12-2023  16:36               185 04_12_03_05_pm.sql
05-12-2023  11:43            78,452 04_12_python_class_2.ipynb
05-08-2023  17:33       144,122,096 05_08_1PM.zip
05-08-2023  17:32            28,266 05_08_firoj_tapan.ipynb
05-12-2023  17:47             1,293 05_12_03_05_pm.sql
06-12-2023  12:35           115,848 05_12_Python_12_noon.ipynb
06-12-2023  17:03             2,829 06_12_03_05_pm.sql
07-12-2023  11:59            16,680 06_12_10_12.ipynb
06-12-2023  10:56            14,637 06_12_10_12_part2.ipynb
16-12-2023  18:13             4,713 07_12_03_05_pm.sql
07-12-2023  11:59            17,005 07_12_10_12AM.ipynb
07-12-2023  14:40            27,657 07_12_12_noon.ipynb
08-04-2023  17:46             6,413 08_04_2023_window functions__damini_04_06.sql
08-05-2023  17:43           453,229 08_05_power bi.pbix
08-11-2022  11:41           412,631 08novresume.pdf
09-04-2023  17:37             2,262 09_damini stored_processor.sql
08-10-2022  12:44               582 1.0.5
11-04-2023  14:25       279,467,547 10_04_2023.mp4
16-09-2022  19:48         7,070,153 100-Business-English-Expressions.pdf
23-09-2022  08:41         1,139,062 101-Essays-That-Will-Change-The-Way-You-Think_.pdf
03-01-2023  14:28    <DIR>          1071244354_9761672683050
03-01-2023  14:23            27,403 1071244354_9761672683050.rar
14-12-2022  23:53    <DIR>          1081876154_needhelp
14-12-2022  23:49        16,781,691 1081876154_needhelp.zip
03-04-2023  15:02    <DIR>          10thAprilDeploymentSteps-20230403T093128Z-001
09-06-2023  23:28    <DIR>          10thAprilDeploymentSteps-20230609T175740Z-001
09-06-2023  23:27         1,879,584 10thAprilDeploymentSteps-20230609T175740Z-001.zip
31-03-2023  17:05    <DIR>          10thOctBA-20230331T112251Z-001
02-05-2023  23:02    <DIR>          10thOctBA-20230502T173034Z-001
02-05-2023  23:00         4,290,115 10thOctBA-20230502T173034Z-001.zip
19-03-2023  14:58           136,129 11_03_2023_Saurabh .ipynb
01-04-2023  14:11             7,548 11_04_matplotlib.ipynb
12-12-2023  15:27             6,270 11_12_03_05_pm.sql
12-12-2023  10:56            26,245 11_12_10_12AM.ipynb
12-12-2023  12:23            33,486 11_12_12_noon_part_1.ipynb
04-12-2023  10:44    <DIR>          1-1699437272409_USBDisplay_2.2.7.3
04-12-2023  10:44        39,584,067 1-1699437272409_USBDisplay_2.2.7.3.zip
04-07-2023  12:00            16,100 11AM_04_07.ipynb
12-02-2024  23:34           213,873 12_02_Numpy and Pandas.ipynb
13-12-2023  19:36            22,173 12_12_Pythn_basics_06_08.ipynb
07-01-2023  11:15           251,753 1215725943_2151672927494.rar
12-12-2022  21:33             3,972 1236247724_attach-file-1670846640142.zip
03-01-2023  15:27            94,784 1257579810_9101672689580.xlsx
03-01-2023  15:27            94,784 1277482325_7351672689456.xlsx
05-03-2023  17:24    <DIR>          12thSep-20230305T115045Z-001
05-03-2023  17:21         1,800,263 12thSep-20230305T115045Z-001.zip
13-10-2023  15:38            24,342 13_10_power_bi_practice.jpg
17-10-2023  10:39           855,868 13_10_power_bi_practice.pbix
13-10-2023  15:46         5,987,079 13_10_power_bi_practice.pdf
13-10-2023  15:47        17,291,371 13_10_power_bi_practice.pptx
13-12-2023  19:51             9,412 13_12_03_05_pm.sql
18-12-2023  16:45            61,265 13_12_10_12pm.ipynb
03-01-2023  15:27            94,784 132808084_2671672689536.xlsx
03-01-2023  15:29            68,516 1346113162_attach-file-1672689878840.xlsx
14-12-2023  17:09             9,941 14_12_03_05_pm.sql
18-12-2023  16:45           158,114 14_12_12_noon.ipynb
19-12-2023  10:29            95,736 14_12_Pythn_basics_06_08.ipynb
14-03-2023  09:44                63 14_textfile.txt
06-01-2023  08:59         4,894,621 1472359526_2145622_1839731_6302138.docx.pdf
07-01-2023  11:15            40,869 1622747648_4091673022377.PNG
16-06-2022  12:41           821,305 1655303783088.pdf
16-06-2022  12:42           805,584 1655361164152.pdf
24-06-2022  11:57         1,554,236 1655729738530.pdf
22-06-2022  11:00         2,858,697 1655808683836.pdf
22-06-2022  10:01           474,528 1655817362570.pdf
31-07-2022  23:27           194,662 1659268223394.pdf
01-08-2022  12:03           202,563 1659327300591.pdf
19-08-2022  11:56            95,777 1660554784534.pdf
31-08-2022  14:56            76,256 1660633425891.pdf
20-08-2022  13:03           278,174 1660706504763.pdf
18-08-2022  12:25         2,285,675 1660796239124.pdf
20-08-2022  13:03           290,834 1660964997593.pdf
28-08-2022  23:57            84,072 1661491570743.pdf
03-09-2022  11:57        24,347,918 1662176194924.pdf
11-09-2022  19:15         3,089,241 1662895783938.pdf
16-10-2022  19:04            25,278 1665927254292T5LGVZEqHRtY18DM.pdf
02-11-2022  15:29         1,348,909 1667367903949.pdf
24-03-2023  20:17           346,341 1679666303576.pdf
11-10-2023  20:10            34,408 1697035238395WyAqtwm14RdR0r36.pdf
11-10-2023  20:17            26,959 1697035678438ZuVMhzootwhS9VZY.pdf
11-10-2023  20:18            25,911 1697035704347nTpQ2xwqW4vU8dYJ.pdf
17-09-2023  01:01             7,843 16Sep_textbasedproject.ipynb
17-12-2023  11:41            74,038 17_12_10_01_pm_part_1.ipynb
30-12-2023  11:09            25,536 17_12_10_01_pm_part2.ipynb
24-11-2022  10:04           245,499 1733335575_2126730_1816551_6245808.docx.pdf
08-10-2022  23:14    <DIR>          18.3.Plotly.7z (Unzipped Files)-20221008T174315Z-001
08-10-2022  23:13         4,688,447 18.3.Plotly.7z (Unzipped Files)-20221008T174315Z-001.zip
18-12-2023  18:04            10,484 18_12_03_05_pm.sql
10-10-2022  16:40         2,879,041 18_4_Cufflinks_checkpoint.ipynb
24-11-2022  15:10           243,853 1813334027_2126730_1817076_6247183.docx.pdf
07-01-2023  12:30         4,890,890 1835446948_Updated_solution_06012023.docx.pdf
03-01-2023  14:32    <DIR>          1867855190_9251672678839
03-01-2023  14:23            47,736 1867855190_9251672678839.rar
20-12-2023  18:29            36,701 19_12_06_08.ipynb
19-12-2023  15:09            68,889 19_12_10_12_pm.ipynb
03-01-2023  15:24            17,779 1900425184_attach-file-16726896538021.docx
03-01-2023  15:27            94,784 1925709743_4951672689567.xlsx
07-01-2023  16:26            30,201 1964090971_attach-file-1672220444499.docx
03-01-2023  15:29            63,488 1976883288_attach-file-1672689879136.doc
29-09-2022  05:57         5,227,782 1-deep learning (1).pdf
18-08-2022  17:45         5,227,782 1-deep learning.pdf
19-07-2022  21:09         5,812,051 1-Simple Linearregression.pdf
07-10-2022  21:35           694,907 1st Oct Data Science industry(3-Git ).pdf
10-03-2023  16:06        26,300,953 1st Oct FSDA-20230310T103630Z-001.zip
20-12-2023  18:20            11,002 20_12_03_05_pm.sql
20-12-2023  13:08           165,414 20_12_12_14_pm_part2.ipynb
08-01-2023  13:06            31,186 2009659.docx
11-10-2023  22:44         3,317,648 20231011_222916.jpg
11-10-2023  22:44         3,588,576 20231011_222936.jpg
11-10-2023  22:44         3,530,669 20231011_223005.jpg
11-10-2023  22:44         3,352,405 20231011_223023.jpg
11-10-2023  22:44         3,500,601 20231011_223036.jpg
11-10-2023  22:44         3,435,169 20231011_223049.jpg
11-10-2023  22:44         3,303,889 20231011_223114.jpg
01-01-2024  14:38             7,447 2024.jpeg
01-01-2024  14:41            12,099 20242.jpeg
01-01-2024  14:46            15,420 20243.jpeg
01-01-2024  14:56            14,103 20244.jpeg
03-01-2023  14:23            41,767 2049695533_1501672678817.PNG
03-01-2023  20:53         2,991,850 2050840287_6571672736572.rar
30-11-2022  10:51    <DIR>          2057936858_1521669747194
25-11-2022  20:59           282,615 2064437649_6111669265346 (1).xlsx
25-11-2022  12:53           282,615 2064437649_6111669265346.xlsx
21-03-2023  13:56             5,943 21_03_ruda_utkarsh.sql
21-09-2023  12:57           456,688 21_09_Resume.pdf
26-12-2023  10:45            80,802 21_12_06_08.ipynb
21-12-2023  15:02            46,376 21_12_10_12pm.ipynb
26-11-2022  17:43           207,304 2119999.zip
24-11-2022  10:30    <DIR>          2126730
16-09-2022  19:46         1,477,146 2127.pdf
26-11-2022  17:34    <DIR>          2127053
26-11-2022  17:25        10,955,424 2127053 (2).zip
24-11-2022  12:41           154,637 2127053.zip
28-02-2023  15:05    <DIR>          2129919
29-11-2022  16:40         9,059,733 2129919.zip
03-07-2022  11:53    <DIR>          21stMay-20220702T055745Z-001
30-07-2023  16:12         6,863,802 21stMay-20220702T055745Z-001.zip

24-04-2023  13:01           375,712 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-04-24-07-31-10.zip
30-08-2023  20:49           114,114 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-08-30-15-19-02.zip
07-09-2023  10:31    <DIR>          22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-09-07-05-00-53
07-09-2023  10:31           132,147 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-09-07-05-00-53.zip
03-07-2022  11:53    <DIR>          22ndmay-20220702T055801Z-001
10-09-2022  23:12    <DIR>          23. Django-20220910T174146Z-001
10-09-2022  23:12           635,343 23. Django-20220910T174146Z-001.zip
24-09-2023  23:54            10,895 24_09_practice.sql
13-10-2023  13:47           641,619 25_09_power_bi_practice.pbix
26-09-2023  00:19             1,059 25_09_practice.sql
25-12-2022  23:08           402,470 25resume.pdf
07-10-2022  21:35         2,513,681 25th Sept Industry ready 1-DS Project Flow.pdf
25-09-2023  22:30               576 26_09_Open_Cv and Beautiful_soup.ipynb
27-09-2023  00:50             9,544 26_09_practice.sql
26-12-2023  17:24    <DIR>          26_12_03_05fullstack
26-12-2023  17:25             6,320 26_12_03_05fullstack.zip
26-12-2023  15:38           111,611 26_12_12_14_pm.ipynb
26-11-2022  17:58             9,280 26-11-2022.png
27-09-2023  00:51             9,544 27_09_practice.sql
27-12-2023  19:41            72,489 27_12_06_08.ipynb
27-12-2023  12:22            58,773 27_12_10_12pm.ipynb
27-12-2023  13:53            62,744 27_12_12_14_pm.ipynb
28-07-2023  21:29            24,900 28.ipynb
28-09-2023  01:15            12,033 28_09_practice.sql
29-11-2022  14:00            12,498 28-11-2022.png
03-07-2022  11:53    <DIR>          28thmay-20220702T055846Z-001
30-09-2023  01:00            14,178 29_09_practice.sql
09-02-2023  12:22           401,917 29resumefinal (1).pdf
09-02-2023  12:28           401,917 29resumefinal (2).pdf
09-02-2023  19:44           401,917 29resumefinal (3).pdf
12-02-2023  12:00           401,917 29resumefinal (4).pdf
29-01-2023  20:16           401,917 29resumefinal.pdf
03-07-2022  11:53    <DIR>          29thMay-20220702T055900Z-001
29-09-2022  05:58         4,936,410 2-Deep Learning-Activation Function,Loss Function,vanishing gradient problems.pdf
19-07-2022  22:15         6,177,864 2-RidgeLassoelasticLogistic.pdf
29-09-2022  06:00         3,811,002 3- Deep Learning optimizers.pdf
31-05-2023  16:29            53,051 30 May.rar
30-07-2023  15:18            23,986 30_07_firoj_tapan.ipynb
13-10-2023  23:41            14,185 30_09_practice.sql
31-12-2023  13:44            94,661 30_31_12_10_01_pm.ipynb
31-12-2022  22:15           310,589 31december-2022_production.png
03-01-2023  12:54         1,021,563 322231446_2145949_1838688_6299658.docx.pdf
16-12-2022  09:38         1,088,545 3494407_924284817_5221671127587.pdf
20-07-2022  20:30         4,476,715 3-NaiveBayes&KNN (1).pdf
06-01-2023  13:43    <DIR>          4000_2145811
29-12-2022  13:04             1,014 486285524_report.PNG
06-08-2022  20:04            46,783 48d054d7-9ca9-41a2-af20-6da22f7b1687.pdf
26-11-2022  09:50           371,264 57-Full Manuscript-303-1-10-20210101.pdf
05-09-2023  16:16           115,254 5-sep-23..Matplotlib.ipynb
03-07-2022  11:53    <DIR>          5thJune-20220702T060018Z-001
07-01-2023  11:15            40,869 610424553_8661673022502.PNG
03-01-2023  15:26            94,784 611890008_attach-file-1672689653245.xlsx
08-01-2023  13:05            32,708 6174694_2019475483_ITSecurityofAssetsAuditReport.docx
08-01-2023  13:05            52,373 6174695_773413174_answersheet.docx
30-11-2022  10:10    <DIR>          6202146_557902306_1711667066232
30-11-2022  10:08         4,336,189 6202146_557902306_1711667066232.zip
29-11-2022  17:08           192,888 6213366_724256128_8881667618211.pdf
29-11-2022  17:08           192,888 6213367_42476707_7311667618413.pdf
25-11-2022  10:06           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue (1).docx
08-01-2023  13:04           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue (2).docx
15-11-2022  21:58           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue.docx
19-11-2022  20:37            17,603 6226585_977810161_ForecastingProjectFall20221 (1).docx
26-11-2022  17:33            20,243 6226585_977810161_ForecastingProjectFall20221 (2).docx
19-11-2022  20:03            17,603 6226585_977810161_ForecastingProjectFall20221.docx
26-11-2022  18:03           178,331 6227997_804850198_4311668368487 (1).pdf
25-11-2022  20:54           178,331 6227997_804850198_4311668368487.pdf
15-11-2022  21:59           376,297 6228599_713001643_606D817C-0AE9-4AF8-9679-8AC576.jpeg
24-11-2022  10:35           169,788 6244932_594254105_lab3.pdf
24-11-2022  16:13            63,116 6246945_1997681302_1571669247673 (1).docx
24-11-2022  10:33            63,116 6246945_1997681302_1571669247673.docx
25-11-2022  10:01           172,719 6248251_1610762773_5221669311232.pdf
26-11-2022  12:02            27,462 6248737_15177946_AssignmentRoverPart2.docx
29-11-2022  17:18           156,402 6253046_1015605848_Rawdata-assignment-20221116.zip
29-11-2022  10:49           187,004 6255566_1848008959_6871669689685 (1).rar
29-11-2022  10:49           187,004 6255566_1848008959_6871669689685.rar
30-11-2022  10:16            34,337 6256887_1144032372_4721669744820.docx
30-11-2022  10:31            17,680 6256973_658864227_3561669747930.docx
02-12-2022  09:40    <DIR>          6257614_970114486_CMSC733Assignment5
02-12-2022  09:37            40,181 6257614_970114486_CMSC733Assignment5.zip
02-01-2023  16:47           153,635 6284500_324218519_4231671106208 (1).pdf
02-01-2023  16:46           153,635 6284500_324218519_4231671106208.pdf
29-12-2022  12:08            14,023 6293639_1144537252_task3.docx
29-12-2022  17:33           232,403 6296326_1215288445_9411672312163.pdf
29-12-2022  17:30            57,383 6296343_971359209_6011672312673 (1).docx
29-12-2022  17:34            57,383 6296343_971359209_6011672312673 (2).docx
06-01-2023  14:04            57,383 6296343_971359209_6011672312673 (3).docx
29-12-2022  17:15            57,383 6296343_971359209_6011672312673.docx
30-12-2022  18:05             4,998 6297173_1069742042_9271672401337 (1).rar
30-12-2022  18:04             4,998 6297173_1069742042_9271672401337.rar
30-12-2022  18:07             3,000 6297175_1552145183_2901672401396.rar
02-01-2023  17:05            26,914 6298281_303235459_62978852120552226SCI442Coursew (1).docx
03-01-2023  12:07            26,914 6298281_303235459_62978852120552226SCI442Coursew (2).docx
02-01-2023  16:56            26,914 6298281_303235459_62978852120552226SCI442Coursew.docx
03-01-2023  14:01           143,842 6299068_948091880_5831672665101.png
03-01-2023  14:01           354,285 6299069_207794875_6801672665102.pdf
03-01-2023  15:32            13,303 6299357_465611549_7671672685975.docx
03-01-2023  15:32         5,057,999 6299358_68953781_8531672685976.xlsx
03-01-2023  15:32        50,512,925 6299359_1675536243_3811672685978.xlsx
03-01-2023  15:23            94,784 6299371_175633961_6431672687293.xlsx
03-01-2023  20:50            22,089 6299849_410794984_5291672744220.docx
03-01-2023  20:52           581,082 6299990_898942029_6041672751306.pdf
05-01-2023  16:37           239,959 6301385_1625681581_2191672881498.pdf
07-01-2023  16:25           261,717 6301425_1448130059_7801672890194.docx
07-01-2023  16:25           212,207 6301426_654502130_9391672890196.docx
07-01-2023  16:23       201,617,580 6301722_238167626_4761672913933 (1).docx
05-01-2023  22:18       201,617,580 6301722_238167626_4761672913933.docx
07-01-2023  16:18           168,819 6303202_1793967889_8071673025731.gif
07-01-2023  16:18           179,000 6303203_1296589249_8851673025731.gif
07-01-2023  16:17           208,620 6303204_300042897_4791673025732.gif
07-01-2023  16:17           178,322 6303206_1885821677_5561673025733.gif
07-01-2023  15:18           231,559 6303420_654443766_5141673049427.pdf
03-09-2022  11:53           543,608 6a2d2d74-fd47-4c8e-9305-83c33f35b46f.pdf
03-01-2023  20:53         2,991,850 719257568_2871672743580.rar
07-01-2023  12:31        37,137,379 881577687_marketing_campaign.csv.pdf
02-07-2022  11:30         7,136,886 8-Gradientboosting-kmeanshierarichal.pdf
29-06-2022  17:02         6,328,057 8thJanStats3.pdf
29-06-2022  17:02         6,662,750 9thJanStats4.pdf
06-06-2023  13:31            54,013 abc.pdf
10-06-2023  13:49           261,128 Account_Statement_100323_090623.pdf
10-06-2023  13:52           282,455 Account_Statement_3month.pdf
10-06-2023  13:50           261,128 Account_Statement_last3month.pdf
29-09-2022  05:59         3,253,779 activation function.zip
12-10-2022  21:35            21,390 Advanced+Excel+Analytics+in+Excel.xlsx
27-10-2022  13:15            61,223 AI ENGINEER MATRIX.xlsx
01-01-2024  18:02             6,996 ai.jpeg
16-07-2023  14:46         3,999,366 airbanb.pdf
31-03-2023  18:45             1,746 AirPassengers.csv
08-01-2023  13:06            28,742 annotated bibliography.docx
13-11-2023  16:50             4,894 answere_key_cce.txt
01-12-2023  14:28         5,525,576 AnyDesk (1).exe
04-08-2022  21:13           510,875 aPI.pdf
19-12-2023  13:28               487 api19.py
29-09-2022  06:11         1,416,716 Apple+quarterly+balance+sheet.pdf
29-09-2022  06:11         1,429,366 Apple+quarterly+balance+sheet+1.pdf
04-12-2023  18:37            25,398 apply.docx
10-06-2023  13:53           427,017 Apr'23 (1).pdf
08-06-2023  09:39           427,017 Apr'23.pdf
02-09-2022  17:49    <DIR>          archive
03-09-2022  13:06    <DIR>          archive (1)
03-09-2022  13:05           641,269 archive (1).zip
02-09-2022  17:48         5,732,543 archive.zip
12-12-2022  15:08           524,200 AReM.zip
10-03-2023  18:49         1,103,184 arnaud-jaegers-Al7IoQ74-LU-unsplash.jpg
08-02-2024  18:30               143 asd.html
12-03-2023  14:33    <DIR>          asd.py
31-05-2023  17:05                89 asdf.txt
10-03-2023  21:49    <DIR>          ASSIGNMENT
29-09-2022  19:54        10,401,953 assignment (2) (2).xlsx
13-10-2023  22:10           173,843 Assumptions-of-Linear-Regression.pdf
30-07-2022  22:27           104,846 atlassian-git-cheatsheet.pdf
26-10-2023  12:02           860,651 Aug_sep_salary_slip.pdf
26-10-2023  12:00           431,525 Aug'23 (1).pdf
26-10-2023  12:00           431,525 Aug'23.pdf
19-04-2023  09:58    <DIR>          AWS
21-12-2023  15:02               404 back.py
08-02-2024  18:41            67,646 bag_shopping_client_help_business_support_customer_icon_261688.ico
07-06-2023  11:22           579,043 bank.zip
07-06-2023  11:22           444,572 bank-additional.zip
23-01-2023  22:29           391,059 bas_resume23.pdf
08-01-2023  13:06            15,587 Basics.docx
01-12-2022  16:05    <DIR>          Big_Data_Analytics_UZH-master
01-12-2022  16:04           744,774 Big_Data_Analytics_UZH-master.zip
17-12-2022  13:54    <DIR>          book_rating_prediction
17-12-2022  14:45       101,781,720 book_rating_prediction17.zip
27-01-2023  11:24            17,462 Book1.xlsx
17-12-2022  13:44    <DIR>          bookprediction
16-12-2022  13:22         1,032,922 books_model.pkl
16-12-2022  14:01         1,346,128 bostonhousepricing-main.zip
01-12-2023  13:04    <DIR>          Breast-Cancer-Prediction-main
01-12-2023  13:03         1,531,872 Breast-Cancer-Prediction-main.zip
27-06-2023  20:36    <DIR>          BUSINESS
27-06-2023  21:32        97,291,742 BUSINESS (2).zip
25-06-2023  14:14        97,109,862 BUSINESS.zip
23-03-2023  19:56           555,360 c76bb6b8-8d0d-42ca-8438-976e438247bf.pdf
20-12-2023  16:01            53,593 car_evaluation (1).csv
20-12-2023  16:01            53,593 car_evaluation (2).csv
04-07-2023  12:14            53,593 car_evaluation.csv
01-12-2023  13:29    <DIR>          Cardio-Monitor-main
01-12-2023  13:29         8,363,144 Cardio-Monitor-main.zip
01-12-2023  13:48         8,400,720 Cardio-Monitor-main_lakshay.zip
01-12-2023  14:19    <DIR>          Cardio-Monitor-main_lakshay12
01-12-2023  13:49         8,400,720 Cardio-Monitor-main_lakshay12.zip
07-10-2022  17:33            26,717 CarPrice_Assignment.csv
03-12-2023  17:05             8,616 carreer.jpeg
07-01-2023  13:24    <DIR>          case notes
20-10-2023  19:59            85,789 Casual_Pic.jpg
13-11-2023  19:35            64,758 CCE_papeer.docx
16-10-2022  12:44           808,213 CCI02252019_0005.jpg
16-10-2022  12:46           706,992 CCI02252019_0005-min.jpg
16-10-2022  12:48           655,726 CCI02252019_0005-minedi.jpg
27-04-2023  11:19             5,132 chatgpt.jpeg
01-11-2023  11:01           433,931 ChatGPT_chat.zip
29-12-2023  19:24            67,646 christmas_three_icon_260195.ico
03-04-2023  15:51    <DIR>          chromedriver_win32
09-06-2023  21:49    <DIR>          chromedriver_win32 (1)
09-06-2023  21:47         6,603,303 chromedriver_win32 (1).zip
03-04-2023  15:51         7,117,143 chromedriver_win32.zip
14-04-2023  15:23                57 Class schedule.csv
14-04-2023  15:14            25,600 Class schedule.xls
27-09-2022  15:06    <DIR>          Class_notebooks-20220927T091839Z-001
27-09-2022  14:49         3,661,484 Class_notebooks-20220927T091839Z-001.zip
22-04-2023  16:39             3,516 cleaneddata (1).csv
22-04-2023  16:38             4,007 cleaneddata.csv
29-05-2023  14:39    <DIR>          code
29-05-2023  12:43        42,822,011 code.zip
08-06-2023  09:42         1,282,675 combinepdf.pdf
12-03-2023  14:34    <DIR>          computer vision
10-09-2023  22:53                 0 computer.txt
03-09-2022  17:55           299,120 conda-cheatsheet (1).pdf
05-06-2023  12:14           299,120 conda-cheatsheet (2).pdf
03-09-2022  17:55           787,695 conda-cheatsheet.pdf
29-01-2023  13:56             1,083 Configuration.xml
19-09-2023  23:07    <DIR>          Course
01-08-2022  14:05         2,434,564 Crop Recommendation System Project.pdf
20-04-2023  20:42         3,014,476 Customer Profitability Sample PBIX.pbix
20-04-2023  20:43         2,906,427 Customer Profitability Sample-no-PV.xlsx
25-05-2023  14:03    <DIR>          cv2
01-01-2024  17:38             9,234 da.jpeg
24-09-2022  21:51    <DIR>          Data
03-12-2023  15:48             7,160 data cleaning.jpeg
07-10-2022  17:17            14,884 Data Dictionary - carprices.xlsx
24-09-2022  21:50           709,466 Data.zip
22-09-2023  14:17           636,609 Data_Science_certificate.png
10-09-2023  22:50                 0 data10.txt
07-12-2023  16:40                15 data2023.csv
13-12-2023  16:21               328 data2024.csv
13-03-2023  11:52           379,397 data-analytics iamge.html
12-10-2022  17:54    <DIR>          database.sqlite
18-03-2023  11:34       133,811,040 database.sqlite.zip
31-07-2022  18:17       372,798,464 database1.sqlite
12-10-2022  17:46                 0 database5.sqlite
22-04-2023  16:43             8,347 dataexcel (1).xlsx
22-04-2023  16:42             9,286 dataexcel.xlsx
01-01-2024  17:42             8,039 datagovern.png
03-12-2023  15:04             6,791 datascieneceworkflow.png
13-09-2022  21:40        24,741,696 dataset (1).rar
02-01-2023  15:48            28,209 dataset issue.png
13-09-2022  21:39        24,741,696 dataset.rar
27-04-2023  16:32    <DIR>          data-society-global-terrorism-data
31-03-2023  20:14           118,690 Dax 2.pbix
31-03-2023  18:08           430,086 DAX.pbix
11-10-2022  13:38         2,493,152 Day04-Docker-20221011T080805Z-001.zip
07-01-2023  13:33            31,303 ddddddWRrrrrrrr.png
05-08-2022  11:46         1,569,899 Deep learning (2).pdf
01-08-2022  14:05           378,488 Deep Learning.pdf
26-12-2023  10:45            17,623 demo.ipynb
15-09-2023  23:28                 0 demo1.py
06-12-2022  14:50    <DIR>          Deployement
27-09-2022  18:35    <DIR>          Diabetes-prediction-project-main
27-09-2022  18:35         1,576,224 Diabetes-prediction-project-main.zip
27-09-2022  18:34           510,271 diabetes-prediction-rfc-model.pkl
16-07-2023  14:46           970,487 diamond price.pdf
08-01-2023  13:06           546,634 Dissertation.pptx
03-12-2023  14:54    <DIR>          Django_notes
09-09-2022  21:49    <DIR>          Django-Socialauth-master
09-09-2022  21:49           146,954 Django-Socialauth-master.zip
11-10-2022  12:49    <DIR>          DL_Tensor_Flow.7z (Unzipped Files)-20221011T071416Z-001
11-10-2022  12:44            15,979 DL_Tensor_Flow.7z (Unzipped Files)-20221011T071416Z-001.zip
27-09-2022  15:06    <DIR>          DL1-20220927T091704Z-001
27-09-2022  14:47           134,638 DL1-20220927T091704Z-001.zip
23-09-2022  12:45       548,820,824 Docker Desktop Installer.exe
01-01-2024  17:54           558,081 docker_cheatsheet.pdf
03-09-2022  19:23           143,755 docker-cheat-sheet.pdf
21-04-2023  21:32    <DIR>          Docker-For-Data-Science-main
21-04-2023  21:32         1,987,474 Docker-For-Data-Science-main.zip
08-01-2023  13:06           973,700 document.pdf
04-11-2022  15:52         4,447,549 DOCUMENTS FOR GLOBAL LOGIC.pdf
04-11-2022  15:53         4,446,281 DOCUMENTS FOR GLOBAL LOGIC-1-11.pdf
04-11-2022  15:26         4,970,179 Documents_samatrix.zip
09-02-2024  10:19             3,903 dog.jpeg
11-06-2023  15:05             7,255 dog_image_11.jpeg
29-12-2023  23:17            67,646 dog_pet_animal_japanese_shiba_inu_japan_icon_127300.ico
09-02-2024  10:19             5,160 dog2.jpeg
09-02-2024  10:19             4,958 dog3.jpeg
08-05-2023  16:46             5,712 dogimage.jpeg
01-01-2024  15:03            12,212 ds.jpeg
30-11-2023  10:18        17,026,566 ds.pdf
03-01-2023  16:24            33,894 DWRRRRRRR03012023.png
29-12-2022  18:29            28,405 dwrrrrrrrrrrrr29122022.png
01-04-2023  10:01    <DIR>          EDA
16-10-2022  19:11             4,363 Email_OTP_RU380328.pdf
29-09-2022  06:11            20,859 employee_ctc_pdf_load_solved.xlsx
29-09-2022  06:12           203,553 Employee+data.pdf
14-07-2023  20:37            59,175 employees.csv
31-08-2022  20:11    <DIR>          End-to-End-Diabetes-Prediction-Application-Using-Machine-Learning-master
08-01-2023  13:06            18,508 Essay template.docx
03-11-2022  13:04                63 Example.txt
03-06-2023  13:10                 0 example03.txt
10-09-2023  23:26               245 example10.txt
22-05-2023  17:04    <DIR>          Excel
19-08-2022  14:20         1,513,112 Excel Analyticxs.pdf
31-05-2023  11:23    <DIR>          Excel_Notes
22-05-2023  17:04        52,764,710 Excel_Notes.zip
24-09-2022  22:50    <DIR>          Exercise
24-09-2022  21:52        24,431,113 Exercise.zip
03-12-2023  16:49            11,306 exit_poll.jpeg
22-03-2023  13:29    <DIR>          export_data
22-03-2023  13:30           166,341 export_data (1)
05-06-2023  10:32        13,091,720 F&B Sales -20230605T050228Z-001.zip
19-08-2022  13:38               230 Fabionacci.py
27-04-2023  11:18             3,717 Facebook.jpeg
09-12-2023  01:02    <DIR>          Fav Icon

10-06-2023  13:53           428,601 Feb'23 (1).pdf
08-06-2023  09:39           428,601 Feb'23.pdf
16-09-2022  19:48        14,064,278 FifteenThousandUsefulPhrases_10777354.pdf
14-10-2022  14:06    <DIR>          fig_code
21-02-2023  13:56            22,016 file_example_XLS_10.xls
20-11-2022  08:12           189,963 Final Solution.xlsx
19-03-2023  13:15             1,709 final_data.csv
27-02-2023  13:56             8,949 final_file.xlsx
19-04-2023  13:26           414,671 Final_updated_resume19.pdf
14-10-2022  10:50             1,417 finalised_kmeans_model.sav
13-01-2023  22:01             1,613 finalized_model.pickle
14-10-2022  23:45             3,856 finalized_model1456.pickle
23-01-2023  15:22           401,602 finalresume2301.pdf
27-01-2023  11:45           394,597 finalteleresume.pdf
07-06-2023  11:19           392,434 Financial Analytics.pdf
09-10-2022  22:15         3,663,063 firstfigure.html
06-05-2023  17:13    <DIR>          Flask
05-06-2023  11:28    <DIR>          Flask (1)
05-06-2023  11:24           716,535 Flask (1).zip
06-05-2023  17:10           716,535 Flask.zip
06-09-2022  06:08    <DIR>          flask_demo-20220905T235450Z-001
06-09-2022  05:25             7,623 flask_demo-20220905T235450Z-001.zip
06-09-2022  15:06    <DIR>          Flaskpractice
31-12-2022  20:31       101,827,904 flickr_logos_27_dataset.tar.gz
05-09-2022  15:06    <DIR>          Flight-Price-Prediction-master
12-12-2022  14:10       200,911,530 flights.zip
01-12-2023  13:55    <DIR>          Flipkart-Review-Scraper-Project-main
01-12-2023  13:55             8,999 Flipkart-Review-Scraper-Project-main.zip
27-02-2023  13:59            25,478 forestfires.csv
26-01-2023  17:24            16,947 Formatting+data+and+tables.xlsx
21-12-2023  11:49               166 front.py
27-12-2023  15:40    <DIR>          full_stack_28
27-12-2023  16:59             1,622 full_stack_28.zip
29-09-2023  12:22    <DIR>          Gate2024
29-12-2022  17:53           173,585 General instructions (1).pptx
08-01-2023  13:06           173,585 General instructions (2).pptx
02-12-2022  17:43           173,585 General instructions.pptx
25-03-2023  22:12         2,574,273 get-pip.py
30-07-2022  22:24        49,381,480 Git-2.37.1-64-bit (1).exe
30-07-2022  13:08        49,381,480 Git-2.37.1-64-bit.exe
01-10-2022  10:14        49,375,864 Git-2.37.3-64-bit.exe
08-12-2023  22:50        60,868,040 Git-2.43.0-64-bit.exe
30-07-2022  22:26           100,194 git-cheat-sheet-education.pdf
12-09-2022  19:34                29 gog.py
27-04-2023  11:18             3,326 Google.png
23-11-2022  13:42        14,599,992 GrammarlyInstaller.c000000702OBVqdpuIdS.exe
17-06-2023  14:45           489,998 group_photo.jpg
19-08-2022  13:40                41 hello.py
21-04-2023  23:42    <DIR>          Hello_my_world
14-09-2022  13:24                32 helloworld.py
01-09-2023  22:02            67,646 home_icon-icons.com_73532.ico
13-06-2023  09:27    <DIR>          HR-Dashboard-MySQL-PowerBI-main
12-06-2023  12:08         1,462,559 HR-Dashboard-MySQL-PowerBI-main.zip
19-05-2023  17:14            17,981 i5.jpg
11-10-2022  22:35           720,864 ib sig 2021.jpg
08-06-2023  12:00           308,099 ilovepdf_merged.pdf
05-01-2024  21:10            71,164 imb.pdf
26-11-2023  17:56             9,128 img.jpeg
17-06-2023  16:03            54,610 img1.jpg
03-12-2023  15:01             5,367 img12.png
30-11-2023  10:26            10,480 img123.jpeg
17-06-2023  16:03            52,849 img2.jpg
17-06-2023  16:03            48,395 img3.jpg
17-06-2023  16:03            41,330 img4.jpg
17-06-2023  16:04            96,862 img5.jpeg.jpg
01-01-2024  17:46             9,574 imgaiml.jpeg
13-12-2022  12:01               105 Index
26-01-2023  22:50            22,730 Indirect+Function.xlsx
05-06-2023  10:46    <DIR>          iNeuron_FSDA-main-20230605T051534Z-001
05-06-2023  10:46        12,630,373 iNeuron_FSDA-main-20230605T051534Z-001.zip
12-06-2023  10:05    <DIR>          iNeuron_FSDA-main-20230612T042137Z-001
12-06-2023  10:04        12,630,373 iNeuron_FSDA-main-20230612T042137Z-001.zip
10-03-2023  20:15    <DIR>          iNeuron-Full-Stack-Data-Science-Assignments-main
10-03-2023  20:12       144,869,666 iNeuron-Full-Stack-Data-Science-Assignments-main.zip
19-08-2022  17:17                29 infile.py
09-02-2024  10:22            18,213 instagram_6422200.png
18-08-2022  22:59            73,216 inter.jfif
10-08-2022  20:13           277,130 Internship Certificate internship certi.pdf
13-09-2022  21:58         1,160,337 introduction.pptx
10-02-2024  00:50            32,028 introduction+to+django+rest+framework.pdf
15-09-2023  17:15           337,619 Introduction+To+Python+Programming+Langguage.pdf
28-10-2022  12:49             4,633 invite.ics
23-06-2023  20:39             3,858 iris.csv
25-02-2023  13:12             2,998 iris.names
20-12-2023  15:50             3,858 IRIS20.csv
30-07-2023  11:16             3,858 iris30.csv
26-11-2023  18:49             8,420 it.jpeg
20-12-2023  16:17    <DIR>          itvedant20
27-10-2022  13:15            13,275 JD AI ENGINEER.docx
05-09-2022  17:49           644,465 JD Python Developer Speech  - Ozonetel - Sudhamay Maity.pdf
15-04-2023  12:11               947 JioMeet Invite.ics
16-09-2022  19:47           447,946 Job-Interviews-In-English_Series-One-Pack.pdf
07-01-2024  23:46             7,676 jobs.png
01-01-2024  15:05           154,963 joins.pdf
21-12-2023  14:10               194 jupyter.txt
16-09-2022  19:44           582,510 KEY_PHRASES_FOR_INTERVIEWS.pdf
20-09-2022  19:22         6,631,527 KMS_Pico_Full_Setup.zip
03-12-2022  14:38         1,480,659 konect-handbook (1).pdf
03-12-2022  14:05         1,480,659 konect-handbook.pdf
08-10-2022  14:55    <DIR>          latestversion
26-01-2023  22:51            11,907 Lecture_Maps_Unsolved.xlsx
06-11-2022  21:22         2,014,901 Linear Regression on Algerian Forest Fire Dataset.pdf
25-10-2022  21:51         1,574,096 Linear_Regression_Task.pdf
16-07-2023  15:28    <DIR>          Linear-Regression-Prediction-Project-Part-1-master
16-07-2023  14:58            46,173 Linear-Regression-Prediction-Project-Part-1-master.zip
23-09-2022  14:12           412,306 Linkresume.pdf
07-10-2022  12:34           469,423 Linuc commands.pdf
25-08-2022  11:13           469,423 Linux commands.pdf
30-07-2023  16:11    <DIR>          Logistic-Regression-master
30-07-2023  16:10             4,872 Logistic-Regression-master.zip
20-04-2023  16:24               440 loss.txt
16-04-2023  10:29        21,573,975 Machine Learning Module 1-20230416T045929Z-001.zip
19-06-2023  15:27        21,573,975 Machine Learning Module 1-20230619T095712Z-001.zip
06-05-2023  10:00        58,202,095 Machine Learning Module 2-20230506T042824Z-001.zip
06-05-2023  10:01         6,134,873 Machine Learning Module 3-20230506T043140Z-001.zip
06-05-2023  10:00         6,815,512 Machine Learning Module 4-20230506T042949Z-001.zip
06-05-2023  10:01        72,129,159 Machine Learning Module 5-20230506T043049Z-001.zip
12-03-2023  14:35                 0 machine learning.txt
31-08-2022  19:46    <DIR>          Machine-Learning-Projects-master
31-08-2022  19:41       122,583,229 Machine-Learning-Projects-master.zip
30-07-2023  16:08        59,444,333 Machine-Learning-with-Python-master.zip
12-10-2022  21:14            28,246 Macros.xlsm
19-12-2023  13:36                82 main_project19.py
09-02-2023  19:42           402,072 Main_resume.pdf
29-11-2023  11:06    <DIR>          Major projects python Scraper
10-06-2023  13:53           427,926 Mar'23 (1).pdf
08-06-2023  09:39           427,926 Mar'23.pdf
25-03-2023  18:13           465,112 Markov_Chain_project.ipynb
30-10-2023  16:32         3,245,081 Master SQL from Basic to Expert.pdf
26-06-2023  00:41           893,466 matplotlib_revision (1).ipynb
26-06-2023  00:24           797,968 matplotlib_revision.ipynb
02-07-2023  11:51            57,345 may_salary_bank_statment_unlocked.pdf
03-12-2023  14:49             3,974 mental.jpeg
03-12-2023  14:50            11,977 mental_health.jpeg
04-01-2023  16:52            85,263 message section is not availble.png
03-12-2022  13:56         1,706,855 metro-trips-2022-q3 (1).zip
02-12-2022  17:31         1,706,855 metro-trips-2022-q3.zip
30-11-2023  10:31             5,265 mgdb.png
09-02-2024  10:25            67,646 microsoft_teams_icon_261512.ico
06-05-2023  09:10    <DIR>          ML
06-08-2023  15:00    <DIR>          ML Notes
03-09-2022  14:26         4,115,949 ML NOtes.pdf
06-05-2023  09:10        52,847,990 ML Notes.zip
23-09-2022  14:34    <DIR>          ML11 4-20220923T083136Z-001
26-11-2023  18:05             9,036 ml12.jpeg
08-01-2023  13:05           245,359 mla-referencing-guide.pdf
12-02-2023  11:29                 0 mlfile.txt
27-04-2023  11:19             6,911 MLimage.jpeg
12-09-2022  19:35    <DIR>          mod1
14-10-2022  23:09               815 modelForPrediction145.sav
23-06-2023  21:37             4,009 modified2306.csv
01-05-2023  15:13            10,156 Module 4 - Outline.docx
13-03-2023  14:44    <DIR>          Moduls_13
28-10-2023  14:26           202,955 MOTIVATIOPNAL_IMAGE.htm
19-12-2023  12:52    <DIR>          Movie_Recommendation_System-main
10-02-2024  00:52        15,677,542 movieapp.zip
02-11-2022  17:33           150,206 Mr. Sanjay Kumar- Employment Offer.pdf
01-12-2022  11:24    <DIR>          MushroomDataset
01-12-2022  11:20           473,175 MushroomDataset.zip
12-06-2023  11:56           173,473 Music_Store_database (1).sql
12-06-2023  11:45           173,473 Music_Store_database.sql
15-09-2023  00:38             4,042 my_15_data.csv
15-09-2023  00:41             8,257 my_15_excel.xlsx
19-03-2023  13:39    <DIR>          my_cleaned_data
20-03-2023  10:36    <DIR>          my_expoted_file
25-09-2023  00:30            51,354 my_filtered_data.csv
26-06-2023  00:07            42,775 my_modified_img.jpg
03-11-2022  11:31                96 My_newcustom0311.py
25-06-2023  23:48             7,944 my_pic_face.jpg
30-04-2023  14:54             8,100 my_pikachu_image.jpg
04-06-2023  17:19    <DIR>          my_project
16-12-2022  14:02    <DIR>          mybostonhousepricing-main
07-10-2022  17:41            27,405 mycsv.csv
15-10-2022  19:15    <DIR>          Myenvirement
22-03-2023  13:28           147,525 myexported_data.csv
08-05-2023  07:20               145 myfile.py
03-06-2023  13:13                 0 myfile0306.txt
05-06-2023  11:47    <DIR>          myflask_practice
23-06-2023  21:39             8,666 myirisexcel.xlsx
21-12-2023  11:55               156 mymainproject.py
12-02-2023  12:55               236 mymlfile2023.txt
17-09-2022  13:06               219 mymodule.py
12-10-2022  13:40    <DIR>          mynlp
02-04-2023  14:57             7,923 mypicachuface.jpg
24-03-2023  13:46        16,117,760 mysql-connector-net-8.0.32.msi
02-03-2023  14:03         2,506,752 mysql-installer-web-community-8.0.32.0 (1).msi
04-03-2023  13:27         2,506,752 mysql-installer-web-community-8.0.32.0 (2).msi
23-03-2023  16:29         2,506,752 mysql-installer-web-community-8.0.32.0 (3).msi
02-03-2023  14:02         2,506,752 mysql-installer-web-community-8.0.32.0.msi
05-12-2023  15:05         2,240,512 mysql-installer-web-community-8.0.35.0.msi
01-01-2024  15:15            14,021 mysqljoins.jpeg
16-03-2023  21:31    <DIR>          mysqlsampledatabase
22-04-2023  16:59    <DIR>          mysqlsampledatabase (1)
22-04-2023  16:58            54,335 mysqlsampledatabase (1).zip
27-09-2023  23:30    <DIR>          mysqlsampledatabase (2)
27-09-2023  23:30            54,335 mysqlsampledatabase (2).zip
16-03-2023  21:31            54,335 mysqlsampledatabase.zip
27-02-2023  13:55             4,309 myupdatedfile123.csv
20-12-2023  13:03                 0 mywork.txt
30-11-2022  11:49    <DIR>          myZip_s2131748
02-01-2023  15:27         2,569,544 myZip_s2145892.zip
03-01-2023  12:29    <DIR>          myZip_s2146433
03-01-2023  12:28       151,723,886 myZip_s2146433.zip
05-01-2023  16:38    <DIR>          myZip_s2147122
05-01-2023  16:37           304,892 myZip_s2147122.zip
27-01-2023  11:24            17,734 Named+Ranges.xlsx
14-11-2022  07:32    <DIR>          NerdyTurtlez
21-12-2023  13:41                 0 New Text Document (2).txt
14-03-2023  09:42                 0 New Text Document.txt
04-11-2022  10:42           411,545 new_link resume (1).pdf
15-09-2022  21:22           411,545 new_link resume.pdf
24-09-2022  18:39           774,608 new_link resume_page-0001.jpg
18-06-2023  14:52            40,904 new_my_image.jpg
11-09-2022  11:16    <DIR>          newdjango
03-11-2022  14:42                79 newfile.txt
12-02-2023  11:24                 0 newfile12022023.txt
23-07-2022  12:59               133 newonefile.txt
09-06-2023  19:37               256 newtestfile03.txt
19-04-2023  14:43           420,626 NewUpdated_resume19.pdf
02-01-2023  16:25            22,464 newyearDWR2023.png
24-11-2023  12:00           103,227 Nidhi Arora KPI.xlsx
25-11-2023  18:02             1,879 nidhi_mam_A.txt
25-11-2023  18:02             1,956 nidhi_mam_c.txt
30-05-2023  15:13    <DIR>          NLP Projectsss
30-05-2023  15:06    18,966,330,907 NLP Projectsss.zip
16-04-2023  17:06    <DIR>          NLP-20230416T101243Z-001
16-04-2023  15:44       534,675,109 NLP-20230416T101243Z-001.zip
07-01-2023  13:33    <DIR>          nnerdytutlez
16-10-2022  19:11            61,554 noname
16-10-2022  19:11            23,770 noname (1)
08-12-2023  23:44         4,796,432 npp.8.5.8.Installer.x64.exe
20-09-2022  18:33           170,384 nresume.pdf
03-12-2023  16:44             8,520 null.png
30-07-2022  11:40           280,866 NUMPY Cheatsheet.pdf
29-01-2023  13:59         3,664,056 officedeploymenttool_15928-20216 (1).exe
29-01-2023  13:48         3,664,056 officedeploymenttool_15928-20216.exe
05-06-2023  10:59         3,674,056 officedeploymenttool_16327-20214.exe
02-09-2023  22:52             5,330 One_liners.ipynb
29-11-2023  17:23    <DIR>          Online-Quiz
29-11-2023  17:23         1,055,438 Online-Quiz.zip
08-05-2023  11:44       464,763,552 On-premises data gateway (personal mode).exe
20-09-2023  22:39            83,422 OOPS_and_file_handling_Practice.ipynb
20-05-2023  12:57         1,399,205 Open_cv_07_05_2023 (1).ipynb
20-05-2023  10:57         1,388,571 Open_cv_07_05_2023.ipynb
27-07-2022  19:31        10,269,576 opencv_haarcascade_frontalface_default.xml at master ú opencv_opencv.html
27-07-2022  19:31    <DIR>          opencv_haarcascade_frontalface_default.xml at master ú opencv_opencv_files
25-11-2023  14:02           715,134 orcal_sql.pdf
07-01-2023  16:10    <DIR>          Orde_rId_2145311_7
29-11-2022  16:30         2,531,769 Order_Id_2129919.html
14-08-2023  14:05         1,863,231 Order_Id_2129919.ipynb
01-12-2022  12:47         2,311,913 Order_Id_2129919_a.pdf
29-11-2022  16:30         2,262,677 Order_Id_2129919_final_pdf.pdf
05-01-2023  16:02    <DIR>          Order_Id_2145622
02-01-2023  16:37         1,372,132 Order_Id_2145721_3100_02012022.html
04-01-2023  17:19    <DIR>          Order_Id_2145892_5540
03-01-2023  13:21    <DIR>          Order_Id_2145949_1200_maths
02-12-2022  18:18           562,344 order_no_2132070.zip
19-08-2022  17:21                51 outfile.py
24-09-2022  10:20    <DIR>          p1
30-10-2023  17:17             6,071 p1ower.jpeg
03-09-2022  19:21           118,785 p2.jpeg
25-10-2022  21:51           611,052 Pandas Cheat Sheet.pdf
06-11-2022  21:37         6,345,977 Pandas Dataframe Complete Cheatsheet.pdf
04-07-2023  13:18           296,843 Pandas_12PM_04_07.ipynb
01-12-2022  11:51        25,219,072 pandoc-2.19.2-windows-x86_64.msi
10-03-2023  16:35       482,003,928 PBIDesktopSetup_x64.exe
26-11-2023  18:01             7,429 pd.png
29-09-2022  06:11            17,654 PDF_import_solved.xlsx
30-11-2023  10:30             7,429 pdy.png
16-12-2022  13:41            17,291 penalty grid (1).docx
12-12-2022  12:47            17,291 penalty grid.docx
15-01-2023  16:06    <DIR>          Phishing-Website-Detection-by-Machine-Learning-Techniques-master
15-01-2023  15:59         2,843,304 Phishing-Website-Detection-by-Machine-Learning-Techniques-master.zip
18-12-2022  11:25    <DIR>          phising
26-04-2023  11:16            63,214 photo-1611003228941-98852ba62227.jpeg
16-10-2022  12:06            46,240 pic1.jpg
19-09-2022  18:42         1,180,881 Pima_diabetes_Tree.png
26-01-2023  22:51           117,644 Pivot+Tables.xlsx
19-05-2023  20:59         3,376,352 Plotly and Cufflinks Crash Course.ipynb.zip
05-10-2023  13:07    <DIR>          Power Bi
23-03-2023  14:51    <DIR>          Power BI Assignment
18-05-2023  10:14    <DIR>          Power BI DAX-20230508T020104Z-001
08-05-2023  07:31        15,004,554 Power BI DAX-20230508T020104Z-001.zip
14-03-2023  09:12    <DIR>          Power BI Material-20230314T034136Z-001
14-03-2023  09:12        90,687,244 Power BI Material-20230314T034136Z-001.zip
18-09-2023  13:18        26,335,737 Power Bi.zip
05-06-2023  11:16            20,082 Power_BI_Project.zip
17-09-2022  10:41    <DIR>          PowerBi Project-20220917T050125Z-001
05-06-2023  10:20    <DIR>          PowerBi Project-20230605T044903Z-001
05-06-2023  10:19           216,335 PowerBi Project-20230605T044903Z-001.zip
20-04-2023  20:54    <DIR>          Power-BI-raw-data-master
20-04-2023  20:54         9,833,575 Power-BI-raw-data-master.zip
11-10-2023  22:46         1,825,007 pp1.jpg
11-10-2023  22:47         1,768,706 pp2.jpg
11-10-2023  22:50         1,875,391 pp3.jpg
11-10-2023  22:48         1,956,491 pp4.jpg
11-10-2023  22:51         1,728,440 pp5.jpg
11-10-2023  22:49         1,702,006 pp6.jpg
11-10-2023  22:50         1,826,787 pp7.jpg
13-01-2023  16:48    <DIR>          Practice
24-09-2022  21:52    <DIR>          Presentations
24-09-2022  21:52         1,317,567 Presentations.zip
24-09-2022  16:20    <DIR>          Product-20211124T053757Z-001
24-09-2022  16:19        19,548,195 Product-20211124T053757Z-001.zip
16-10-2023  15:36           687,023 Production Dashboard Oct'2023.xlsx
20-04-2023  11:10                 0 profit.txt
29-07-2022  20:09         2,161,950 project discussion.pdf
05-09-2022  15:16    <DIR>          Projects
17-09-2023  01:18            11,605 Projects_17_09.ipynb
03-09-2022  12:31            17,861 Proposal 8 26.docx
24-03-2023  15:03       423,849,032 pycharm-community-2022.3.3.exe
29-09-2023  17:42           536,487 pyspark.pdf
18-03-2023  15:17    <DIR>          Python Basic Assignment
04-04-2023  16:01        24,381,614 Python Programming.zip
27-04-2023  11:39             2,842 python.jpeg
30-12-2023  00:01             3,939 python_30.jpeg
04-12-2023  17:23    <DIR>          Python_notes
29-11-2023  17:34    <DIR>          Python_projects
29-11-2023  11:08        17,730,015 Python_projects lakshay.zip
01-12-2023  11:34         1,538,956 python_question.pdf
14-09-2023  23:33         5,980,326 python_revision.pdf
03-09-2023  00:40        31,830,944 python-3.6.8-amd64 (1).exe
14-08-2023  00:59        31,830,944 python-3.6.8-amd64.exe
13-03-2023  10:01                85 pythoncustom.py
25-02-2023  11:09    <DIR>          python-data-science-mastercourse-main
24-03-2023  15:41    <DIR>          python-programming-master-course-main
29-11-2023  11:00         4,667,221 python-programming-master-course-main.zip
13-03-2023  10:01                57 pythonproject.py
20-04-2023  21:09    <DIR>          Python-Tutorial-2022--main
20-04-2023  21:08        26,839,563 Python-Tutorial-2022--main.zip
11-10-2022  12:47            45,893 PyTorch 1.1.ipynb
29-09-2023  00:46           140,806 Question_Practice_set_1.ipynb
08-01-2023  13:05           109,841 reference-examples.pdf
08-01-2023  13:05           225,724 reference-guide.pdf
08-01-2023  13:06            16,422 Report and article.docx
11-12-2022  20:51        17,759,562 Report_bike_sharing_data.docx
08-01-2023  13:07           543,960 research proposal template.pdf
08-01-2023  13:04            83,430 research report.docx
08-01-2023  13:04            21,086 research report_management.docx

In [3]:
import pandas as pd

C:\Users\skme2\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\skme2\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\skme2\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [4]:
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [427]:
type(df)

pandas.core.frame.DataFrame

In [428]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [429]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [430]:
df.sample()

    sepal_length  sepal_width  petal_length  petal_width species
32           5.2          4.1           1.5          0.1  setosa

In [431]:
df.shape

(150, 5)

In [432]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [433]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [434]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [435]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [436]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [440]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [441]:
df.describe('all')

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

In [442]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [443]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [444]:
df.sepal_width

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [445]:
df['petal_length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [446]:
df['petal_width']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [448]:
df.species.nunique()

3

In [449]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [454]:
pd.read_csv('IRIS20.csv')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [456]:
df = pd.read_csv('iris12.csv')

In [461]:
df[df.species == 'setosa'].shape

(50, 5)

In [466]:
df.species.value_counts()['versicolor']

50

In [468]:
df.sepal_length.min()

4.3

In [469]:
df.sepal_width.max()

4.4

In [470]:
df.petal_length.mean()

3.758666666666666

In [471]:
df.petal_width.sum()

179.8

In [472]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [474]:
df.sort_values(by="sepal_length", ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [480]:
df.sort_values(by=['sepal_length', 'sepal_width'], ascending=[False, True], inplace=True)

In [481]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [484]:
df.sort_index(inplace=True)

In [485]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [489]:
df.sepal_length.apply(lambda x:x*2)

0      10.2
1       9.8
2       9.4
3       9.2
4      10.0
       ...
145    13.4
146    12.6
147    13.0
148    12.4
149    11.8
Name: sepal_length, Length: 150, dtype: float64

In [490]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [491]:
df.species.apply(len)

0      6
1      6
2      6
3      6
4      6
      ..
145    9
146    9
147    9
148    9
149    9
Name: species, Length: 150, dtype: int64

In [492]:
df.apply(lambda x:x+x)

     sepal_length  sepal_width  petal_length  petal_width             species
0            10.2          7.0           2.8          0.4        setosasetosa
1             9.8          6.0           2.8          0.4        setosasetosa
2             9.4          6.4           2.6          0.4        setosasetosa
3             9.2          6.2           3.0          0.4        setosasetosa
4            10.0          7.2           2.8          0.4        setosasetosa
..            ...          ...           ...          ...                 ...
145          13.4          6.0          10.4          4.6  virginicavirginica
146          12.6          5.0          10.0          3.8  virginicavirginica
147          13.0          6.0          10.4          4.0  virginicavirginica
148          12.4          6.8          10.8          4.6  virginicavirginica
149          11.8          6.0          10.2          3.6  virginicavirginica

[150 rows x 5 columns]

In [493]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [494]:
df.aggregate('min')

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [500]:
df[df.species=='setosa']['sepal_length'].min()

4.9

In [501]:
df[df.species=='setosa']['sepal_width'].min()

2.3

In [502]:
df[df.species=='setosa']['petal_length'].min()

1.0

In [503]:
df[df.species=='setosa']['petal_width'].min()

0.1

In [509]:
df.agg(['min', 'max','mean','std','median'])

<ipython-input-509-ab996a4d760b>:1: FutureWarning: ['species'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['min', 'max','mean','std','median'])

        sepal_length  sepal_width  petal_length  petal_width    species
min         4.300000     2.000000      1.000000     0.100000     setosa
max         7.900000     4.400000      6.900000     2.500000  virginica
mean        5.843333     3.054000      3.758667     1.198667        NaN
std         0.828066     0.433594      1.764420     0.763161        NaN
median      5.800000     3.000000      4.350000     1.300000        NaN

In [510]:
df.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [512]:
group_object = df.groupby(by='species')

In [513]:
group_object

In [514]:
group_object.min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [515]:
group_object.max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [516]:
group_object.median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

In [519]:
group_object.aggregate(['min', 'max', 'median', 'std']).T

species                setosa  versicolor  virginica
sepal_length min     4.300000    4.900000   4.900000
             max     5.800000    7.000000   7.900000
             median  5.000000    5.900000   6.500000
             std     0.352490    0.516171   0.635880
sepal_width  min     2.300000    2.000000   2.200000
             max     4.400000    3.400000   3.800000
             median  3.400000    2.800000   3.000000
             std     0.381024    0.313798   0.322497
petal_length min     1.000000    3.000000   4.500000
             max     1.900000    5.100000   6.900000
             median  1.500000    4.350000   5.550000
             std     0.173511    0.469911   0.551895
petal_width  min     0.100000    1.000000   1.400000
             max     0.600000    1.800000   2.500000
             median  0.200000    1.300000   2.000000
             std     0.107210    0.197753   0.274650

In [520]:
group_object.count()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [521]:
df.corr()

<ipython-input-521-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [522]:
group_object.sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        170.9          73.2         12.2
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [524]:
group_object.describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.418000    2.770000   2.974000
             std     0.381024    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.125000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.464000    4.260000   5.552000
             std     0.173511    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.244000    1.326000   2.026000
             std     0.107210    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [526]:
import warnings
warnings.filterwarnings('ignore')

df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [528]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [532]:
nan_indx = np.random.randint(0,150,20)

In [536]:
df['sepal_width'][nan_indx] = np.nan

In [537]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          NaN           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [539]:
idx_nan = np.random.randint(0,150,15)

In [543]:
df.petal_width[idx_nan] = np.nan

In [544]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          NaN           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          NaN  virginica

[150 rows x 5 columns]

In [546]:
df.isna().sum()

sepal_length     0
sepal_width     20
petal_length     0
petal_width     13
species          0
dtype: int64

In [547]:
df.shape

(150, 5)

In [548]:
df.dropna()

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[119 rows x 5 columns]

In [549]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          NaN           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          NaN  virginica

[150 rows x 5 columns]

In [552]:
df.fillna('sanjay')

     sepal_length sepal_width  petal_length petal_width    species
0             5.1      sanjay           1.4         0.2     setosa
1             4.9         3.0           1.4         0.2     setosa
2             4.7         3.2           1.3         0.2     setosa
3             4.6         3.1           1.5         0.2     setosa
4             5.0         3.6           1.4         0.2     setosa
..            ...         ...           ...         ...        ...
145           6.7         3.0           5.2         2.3  virginica
146           6.3         2.5           5.0         1.9  virginica
147           6.5         3.0           5.2         2.0  virginica
148           6.2         3.4           5.4         2.3  virginica
149           5.9         3.0           5.1      sanjay  virginica

[150 rows x 5 columns]

In [560]:
np.round(df.sepal_width.mean(),1)

3.0

In [561]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          NaN           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          NaN  virginica

[150 rows x 5 columns]

In [564]:
df.sepal_width.fillna(value=np.round(df.sepal_width.mean(),1), inplace=True)

In [565]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.0           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          NaN  virginica

[150 rows x 5 columns]

In [567]:
df.petal_width[:50]

0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
13    0.1
14    0.2
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
22    0.2
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.1
35    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    NaN
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal_width, dtype: float64

In [571]:
round(df.petal_width.mean(),1)

1.2

In [575]:
df.petal_width.fillna(value=round(df.petal_width.mean(),1), inplace=True)

In [576]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.0           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.2  virginica

[150 rows x 5 columns]

In [577]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.0           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.2  virginica

[150 rows x 5 columns]

In [579]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [1]:
# concat/ Merge DataFrames

In [6]:
import numpy as np

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
arr1 = np.random.randint(0,7,size = (10,4))

In [12]:
df2 = pd.DataFrame(arr1)

In [15]:
df2['species'] = "new-species"

In [16]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
df2

   0  1  2  3      species
0  0  2  1  0  new-species
1  1  2  5  5  new-species
2  2  0  2  1  new-species
3  4  6  2  5  new-species
4  3  6  5  0  new-species
5  6  2  1  3  new-species
6  6  5  4  6  new-species
7  1  6  0  1  new-species
8  0  0  3  2  new-species
9  0  2  3  1  new-species

In [18]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [19]:
df2.columns = df.columns

In [20]:
df2

   sepal_length  sepal_width  petal_length  petal_width      species
0             0            2             1            0  new-species
1             1            2             5            5  new-species
2             2            0             2            1  new-species
3             4            6             2            5  new-species
4             3            6             5            0  new-species
5             6            2             1            3  new-species
6             6            5             4            6  new-species
7             1            6             0            1  new-species
8             0            0             3            2  new-species
9             0            2             3            1  new-species

In [43]:
df5 = pd.concat([df,df2])

In [23]:
pd.concat([df,df2], axis=1)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa,0.0,2.0,1.0,0.0,new-species
1,4.9,3.0,1.4,0.2,setosa,1.0,2.0,5.0,5.0,new-species
2,4.7,3.2,1.3,0.2,setosa,2.0,0.0,2.0,1.0,new-species
3,4.6,3.1,1.5,0.2,setosa,4.0,6.0,2.0,5.0,new-species
4,5.0,3.6,1.4,0.2,setosa,3.0,6.0,5.0,0.0,new-species
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,NaN,NaN,NaN,NaN,NaN
146,6.3,2.5,5.0,1.9,virginica,NaN,NaN,NaN,NaN,NaN
147,6.5,3.0,5.2,2.0,virginica,NaN,NaN,NaN,NaN,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN,NaN,NaN,NaN,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN,NaN,NaN,NaN,NaN

In [24]:
# Merging DataFrame

In [26]:
df3  = pd.DataFrame({
    'S_Name':['Mohit', 'Jatin', 'Prateek','Mohit'],"CGPA":[2,4,5,3]})

In [27]:
df3

    S_Name  CGPA
0    Mohit     2
1    Jatin     4
2  Prateek     5
3    Mohit     3

In [28]:
t = {
    "T_Name":['Mohit', 'Jatin', 'Prateek', 'Mohit'],
    'CGPA':[3,6,8,9]
}

In [29]:
t

{'T_Name': ['Mohit', 'Jatin', 'Prateek', 'Mohit'], 'CGPA': [3, 6, 8, 9]}

In [31]:
df4 = pd.DataFrame(t)

In [32]:
df4

    T_Name  CGPA
0    Mohit     3
1    Jatin     6
2  Prateek     8
3    Mohit     9

In [33]:
df3.merge(df4)

  S_Name  CGPA T_Name
0  Mohit     3  Mohit

In [34]:
df3.merge(df4,how='inner',on='CGPA' )

  S_Name  CGPA T_Name
0  Mohit     3  Mohit

In [35]:
df3.merge(df4, how='left', on='CGPA')

    S_Name  CGPA T_Name
0    Mohit     2    NaN
1    Jatin     4    NaN
2  Prateek     5    NaN
3    Mohit     3  Mohit

In [36]:
df3.merge(df4, how='right', on='CGPA')

  S_Name  CGPA   T_Name
0  Mohit     3    Mohit
1    NaN     6    Jatin
2    NaN     8  Prateek
3    NaN     9    Mohit

In [37]:
df3.merge(df4, how='outer', on='CGPA')

    S_Name  CGPA   T_Name
0    Mohit     2      NaN
1    Jatin     4      NaN
2  Prateek     5      NaN
3    Mohit     3    Mohit
4      NaN     6    Jatin
5      NaN     8  Prateek
6      NaN     9    Mohit

In [39]:
df3.merge(df4, how='cross')

     S_Name  CGPA_x   T_Name  CGPA_y
0     Mohit       2    Mohit       3
1     Mohit       2    Jatin       6
2     Mohit       2  Prateek       8
3     Mohit       2    Mohit       9
4     Jatin       4    Mohit       3
5     Jatin       4    Jatin       6
6     Jatin       4  Prateek       8
7     Jatin       4    Mohit       9
8   Prateek       5    Mohit       3
9   Prateek       5    Jatin       6
10  Prateek       5  Prateek       8
11  Prateek       5    Mohit       9
12    Mohit       3    Mohit       3
13    Mohit       3    Jatin       6
14    Mohit       3  Prateek       8
15    Mohit       3    Mohit       9

In [40]:
# output Files

In [41]:
ls

 Volume in drive C is OS
 Volume Serial Number is 0CC1-C20F

 Directory of C:\Users\skme2\Downloads

13-02-2024  08:20    <DIR>          .
12-02-2024  18:58    <DIR>          ..
12-02-2024  23:02    <DIR>          .ipynb_checkpoints
21-12-2023  11:58    <DIR>          __pycache__
06-11-2023  11:20             2,633 01_11_sql_practice.sql
02-11-2022  15:49           410,816 0211resume.pdf
03-09-2023  14:20            54,756 03_09_1_pm_Functions.ipynb
13-10-2023  15:25    <DIR>          03_10_4pm
13-10-2023  15:24        98,232,624 03_10_4pm.zip
20-03-2023  16:51           118,844 04_06.ipynb
13-10-2023  15:24    <DIR>          04_10_4pm
13-10-2023  15:23        85,733,531 04_10_4pm.zip
04-12-2023  16:36               185 04_12_03_05_pm.sql
05-12-2023  11:43            78,452 04_12_python_class_2.ipynb
05-08-2023  17:33       144,122,096 05_08_1PM.zip
05-08-2023  17:32            28,266 05_08_firoj_tapan.ipynb
05-12-2023  17:47             1,293 05_12_03_05_pm.sql
06-12-2023  12:35           115,848 05_12_Python_12_noon.ipynb
06-12-2023  17:03             2,829 06_12_03_05_pm.sql
07-12-2023  11:59            16,680 06_12_10_12.ipynb
06-12-2023  10:56            14,637 06_12_10_12_part2.ipynb
16-12-2023  18:13             4,713 07_12_03_05_pm.sql
07-12-2023  11:59            17,005 07_12_10_12AM.ipynb
07-12-2023  14:40            27,657 07_12_12_noon.ipynb
08-04-2023  17:46             6,413 08_04_2023_window functions__damini_04_06.sql
08-05-2023  17:43           453,229 08_05_power bi.pbix
08-11-2022  11:41           412,631 08novresume.pdf
09-04-2023  17:37             2,262 09_damini stored_processor.sql
08-10-2022  12:44               582 1.0.5
11-04-2023  14:25       279,467,547 10_04_2023.mp4
16-09-2022  19:48         7,070,153 100-Business-English-Expressions.pdf
23-09-2022  08:41         1,139,062 101-Essays-That-Will-Change-The-Way-You-Think_.pdf
03-01-2023  14:28    <DIR>          1071244354_9761672683050
03-01-2023  14:23            27,403 1071244354_9761672683050.rar
14-12-2022  23:53    <DIR>          1081876154_needhelp
14-12-2022  23:49        16,781,691 1081876154_needhelp.zip
03-04-2023  15:02    <DIR>          10thAprilDeploymentSteps-20230403T093128Z-001
09-06-2023  23:28    <DIR>          10thAprilDeploymentSteps-20230609T175740Z-001
09-06-2023  23:27         1,879,584 10thAprilDeploymentSteps-20230609T175740Z-001.zip
31-03-2023  17:05    <DIR>          10thOctBA-20230331T112251Z-001
02-05-2023  23:02    <DIR>          10thOctBA-20230502T173034Z-001
02-05-2023  23:00         4,290,115 10thOctBA-20230502T173034Z-001.zip
19-03-2023  14:58           136,129 11_03_2023_Saurabh .ipynb
01-04-2023  14:11             7,548 11_04_matplotlib.ipynb
12-12-2023  15:27             6,270 11_12_03_05_pm.sql
12-12-2023  10:56            26,245 11_12_10_12AM.ipynb
12-12-2023  12:23            33,486 11_12_12_noon_part_1.ipynb
04-12-2023  10:44    <DIR>          1-1699437272409_USBDisplay_2.2.7.3
04-12-2023  10:44        39,584,067 1-1699437272409_USBDisplay_2.2.7.3.zip
04-07-2023  12:00            16,100 11AM_04_07.ipynb
13-02-2024  08:20           508,234 12_02_Numpy and Pandas.ipynb
13-12-2023  19:36            22,173 12_12_Pythn_basics_06_08.ipynb
07-01-2023  11:15           251,753 1215725943_2151672927494.rar
12-12-2022  21:33             3,972 1236247724_attach-file-1670846640142.zip
03-01-2023  15:27            94,784 1257579810_9101672689580.xlsx
03-01-2023  15:27            94,784 1277482325_7351672689456.xlsx
05-03-2023  17:24    <DIR>          12thSep-20230305T115045Z-001
05-03-2023  17:21         1,800,263 12thSep-20230305T115045Z-001.zip
13-10-2023  15:38            24,342 13_10_power_bi_practice.jpg
17-10-2023  10:39           855,868 13_10_power_bi_practice.pbix
13-10-2023  15:46         5,987,079 13_10_power_bi_practice.pdf
13-10-2023  15:47        17,291,371 13_10_power_bi_practice.pptx
13-12-2023  19:51             9,412 13_12_03_05_pm.sql
18-12-2023  16:45            61,265 13_12_10_12pm.ipynb
03-01-2023  15:27            94,784 132808084_2671672689536.xlsx
03-01-2023  15:29            68,516 1346113162_attach-file-1672689878840.xlsx
14-12-2023  17:09             9,941 14_12_03_05_pm.sql
18-12-2023  16:45           158,114 14_12_12_noon.ipynb
19-12-2023  10:29            95,736 14_12_Pythn_basics_06_08.ipynb
14-03-2023  09:44                63 14_textfile.txt
06-01-2023  08:59         4,894,621 1472359526_2145622_1839731_6302138.docx.pdf
07-01-2023  11:15            40,869 1622747648_4091673022377.PNG
16-06-2022  12:41           821,305 1655303783088.pdf
16-06-2022  12:42           805,584 1655361164152.pdf
24-06-2022  11:57         1,554,236 1655729738530.pdf
22-06-2022  11:00         2,858,697 1655808683836.pdf
22-06-2022  10:01           474,528 1655817362570.pdf
31-07-2022  23:27           194,662 1659268223394.pdf
01-08-2022  12:03           202,563 1659327300591.pdf
19-08-2022  11:56            95,777 1660554784534.pdf
31-08-2022  14:56            76,256 1660633425891.pdf
20-08-2022  13:03           278,174 1660706504763.pdf
18-08-2022  12:25         2,285,675 1660796239124.pdf
20-08-2022  13:03           290,834 1660964997593.pdf
28-08-2022  23:57            84,072 1661491570743.pdf
03-09-2022  11:57        24,347,918 1662176194924.pdf
11-09-2022  19:15         3,089,241 1662895783938.pdf
16-10-2022  19:04            25,278 1665927254292T5LGVZEqHRtY18DM.pdf
02-11-2022  15:29         1,348,909 1667367903949.pdf
24-03-2023  20:17           346,341 1679666303576.pdf
11-10-2023  20:10            34,408 1697035238395WyAqtwm14RdR0r36.pdf
11-10-2023  20:17            26,959 1697035678438ZuVMhzootwhS9VZY.pdf
11-10-2023  20:18            25,911 1697035704347nTpQ2xwqW4vU8dYJ.pdf
17-09-2023  01:01             7,843 16Sep_textbasedproject.ipynb
17-12-2023  11:41            74,038 17_12_10_01_pm_part_1.ipynb
30-12-2023  11:09            25,536 17_12_10_01_pm_part2.ipynb
24-11-2022  10:04           245,499 1733335575_2126730_1816551_6245808.docx.pdf
08-10-2022  23:14    <DIR>          18.3.Plotly.7z (Unzipped Files)-20221008T174315Z-001
08-10-2022  23:13         4,688,447 18.3.Plotly.7z (Unzipped Files)-20221008T174315Z-001.zip
18-12-2023  18:04            10,484 18_12_03_05_pm.sql
10-10-2022  16:40         2,879,041 18_4_Cufflinks_checkpoint.ipynb
24-11-2022  15:10           243,853 1813334027_2126730_1817076_6247183.docx.pdf
07-01-2023  12:30         4,890,890 1835446948_Updated_solution_06012023.docx.pdf
03-01-2023  14:32    <DIR>          1867855190_9251672678839
03-01-2023  14:23            47,736 1867855190_9251672678839.rar
20-12-2023  18:29            36,701 19_12_06_08.ipynb
19-12-2023  15:09            68,889 19_12_10_12_pm.ipynb
03-01-2023  15:24            17,779 1900425184_attach-file-16726896538021.docx
03-01-2023  15:27            94,784 1925709743_4951672689567.xlsx
07-01-2023  16:26            30,201 1964090971_attach-file-1672220444499.docx
03-01-2023  15:29            63,488 1976883288_attach-file-1672689879136.doc
29-09-2022  05:57         5,227,782 1-deep learning (1).pdf
18-08-2022  17:45         5,227,782 1-deep learning.pdf
19-07-2022  21:09         5,812,051 1-Simple Linearregression.pdf
07-10-2022  21:35           694,907 1st Oct Data Science industry(3-Git ).pdf
10-03-2023  16:06        26,300,953 1st Oct FSDA-20230310T103630Z-001.zip
20-12-2023  18:20            11,002 20_12_03_05_pm.sql
20-12-2023  13:08           165,414 20_12_12_14_pm_part2.ipynb
08-01-2023  13:06            31,186 2009659.docx
11-10-2023  22:44         3,317,648 20231011_222916.jpg
11-10-2023  22:44         3,588,576 20231011_222936.jpg
11-10-2023  22:44         3,530,669 20231011_223005.jpg
11-10-2023  22:44         3,352,405 20231011_223023.jpg
11-10-2023  22:44         3,500,601 20231011_223036.jpg
11-10-2023  22:44         3,435,169 20231011_223049.jpg
11-10-2023  22:44         3,303,889 20231011_223114.jpg
01-01-2024  14:38             7,447 2024.jpeg
01-01-2024  14:41            12,099 20242.jpeg
01-01-2024  14:46            15,420 20243.jpeg
01-01-2024  14:56            14,103 20244.jpeg
03-01-2023  14:23            41,767 2049695533_1501672678817.PNG
03-01-2023  20:53         2,991,850 2050840287_6571672736572.rar
30-11-2022  10:51    <DIR>          2057936858_1521669747194
25-11-2022  20:59           282,615 2064437649_6111669265346 (1).xlsx
25-11-2022  12:53           282,615 2064437649_6111669265346.xlsx
21-03-2023  13:56             5,943 21_03_ruda_utkarsh.sql
21-09-2023  12:57           456,688 21_09_Resume.pdf
26-12-2023  10:45            80,802 21_12_06_08.ipynb
21-12-2023  15:02            46,376 21_12_10_12pm.ipynb
26-11-2022  17:43           207,304 2119999.zip
24-11-2022  10:30    <DIR>          2126730
16-09-2022  19:46         1,477,146 2127.pdf
26-11-2022  17:34    <DIR>          2127053
26-11-2022  17:25        10,955,424 2127053 (2).zip
24-11-2022  12:41           154,637 2127053.zip
28-02-2023  15:05    <DIR>          2129919
29-11-2022  16:40         9,059,733 2129919.zip
03-07-2022  11:53    <DIR>          21stMay-20220702T055745Z-001
30-07-2023  16:12         6,863,802 21stMay-20220702T055745Z-001.zip
24-04-2023  13:01           375,712 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-04-24-07-31-10.zip
30-08-2023  20:49           114,114 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-08-30-15-19-02.zip
07-09-2023  10:31    <DIR>          22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-09-07-05-00-53
07-09-2023  10:31           132,147 22b01038ed616ac43165687bedaaee45ee8fbebc93c75e197f48c529c415222e-2023-09-07-05-00-53.zip
03-07-2022  11:53    <DIR>          22ndmay-20220702T055801Z-001
10-09-2022  23:12    <DIR>          23. Django-20220910T174146Z-001
10-09-2022  23:12           635,343 23. Django-20220910T174146Z-001.zip
24-09-2023  23:54            10,895 24_09_practice.sql
13-10-2023  13:47           641,619 25_09_power_bi_practice.pbix
26-09-2023  00:19             1,059 25_09_practice.sql
25-12-2022  23:08           402,470 25resume.pdf
07-10-2022  21:35         2,513,681 25th Sept Industry ready 1-DS Project Flow.pdf
25-09-2023  22:30               576 26_09_Open_Cv and Beautiful_soup.ipynb
27-09-2023  00:50             9,544 26_09_practice.sql
26-12-2023  17:24    <DIR>          26_12_03_05fullstack
26-12-2023  17:25             6,320 26_12_03_05fullstack.zip
26-12-2023  15:38           111,611 26_12_12_14_pm.ipynb
26-11-2022  17:58             9,280 26-11-2022.png
27-09-2023  00:51             9,544 27_09_practice.sql
27-12-2023  19:41            72,489 27_12_06_08.ipynb
27-12-2023  12:22            58,773 27_12_10_12pm.ipynb
27-12-2023  13:53            62,744 27_12_12_14_pm.ipynb
28-07-2023  21:29            24,900 28.ipynb
28-09-2023  01:15            12,033 28_09_practice.sql
29-11-2022  14:00            12,498 28-11-2022.png
03-07-2022  11:53    <DIR>          28thmay-20220702T055846Z-001
30-09-2023  01:00            14,178 29_09_practice.sql
09-02-2023  12:22           401,917 29resumefinal (1).pdf
09-02-2023  12:28           401,917 29resumefinal (2).pdf
09-02-2023  19:44           401,917 29resumefinal (3).pdf
12-02-2023  12:00           401,917 29resumefinal (4).pdf
29-01-2023  20:16           401,917 29resumefinal.pdf
03-07-2022  11:53    <DIR>          29thMay-20220702T055900Z-001
29-09-2022  05:58         4,936,410 2-Deep Learning-Activation Function,Loss Function,vanishing gradient problems.pdf
19-07-2022  22:15         6,177,864 2-RidgeLassoelasticLogistic.pdf
29-09-2022  06:00         3,811,002 3- Deep Learning optimizers.pdf
31-05-2023  16:29            53,051 30 May.rar
30-07-2023  15:18            23,986 30_07_firoj_tapan.ipynb
13-10-2023  23:41            14,185 30_09_practice.sql
31-12-2023  13:44            94,661 30_31_12_10_01_pm.ipynb
31-12-2022  22:15           310,589 31december-2022_production.png
03-01-2023  12:54         1,021,563 322231446_2145949_1838688_6299658.docx.pdf
16-12-2022  09:38         1,088,545 3494407_924284817_5221671127587.pdf
20-07-2022  20:30         4,476,715 3-NaiveBayes&KNN (1).pdf
06-01-2023  13:43    <DIR>          4000_2145811
29-12-2022  13:04             1,014 486285524_report.PNG
06-08-2022  20:04            46,783 48d054d7-9ca9-41a2-af20-6da22f7b1687.pdf
26-11-2022  09:50           371,264 57-Full Manuscript-303-1-10-20210101.pdf
05-09-2023  16:16           115,254 5-sep-23..Matplotlib.ipynb
03-07-2022  11:53    <DIR>          5thJune-20220702T060018Z-001
07-01-2023  11:15            40,869 610424553_8661673022502.PNG
03-01-2023  15:26            94,784 611890008_attach-file-1672689653245.xlsx
08-01-2023  13:05            32,708 6174694_2019475483_ITSecurityofAssetsAuditReport.docx
08-01-2023  13:05            52,373 6174695_773413174_answersheet.docx
30-11-2022  10:10    <DIR>          6202146_557902306_1711667066232
30-11-2022  10:08         4,336,189 6202146_557902306_1711667066232.zip
29-11-2022  17:08           192,888 6213366_724256128_8881667618211.pdf
29-11-2022  17:08           192,888 6213367_42476707_7311667618413.pdf
25-11-2022  10:06           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue (1).docx
08-01-2023  13:04           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue (2).docx
15-11-2022  21:58           319,905 6214359_1000821664_ISYS40251DerivingBusinessValue.docx
19-11-2022  20:37            17,603 6226585_977810161_ForecastingProjectFall20221 (1).docx
26-11-2022  17:33            20,243 6226585_977810161_ForecastingProjectFall20221 (2).docx
19-11-2022  20:03            17,603 6226585_977810161_ForecastingProjectFall20221.docx
26-11-2022  18:03           178,331 6227997_804850198_4311668368487 (1).pdf
25-11-2022  20:54           178,331 6227997_804850198_4311668368487.pdf
15-11-2022  21:59           376,297 6228599_713001643_606D817C-0AE9-4AF8-9679-8AC576.jpeg
24-11-2022  10:35           169,788 6244932_594254105_lab3.pdf
24-11-2022  16:13            63,116 6246945_1997681302_1571669247673 (1).docx
24-11-2022  10:33            63,116 6246945_1997681302_1571669247673.docx
25-11-2022  10:01           172,719 6248251_1610762773_5221669311232.pdf
26-11-2022  12:02            27,462 6248737_15177946_AssignmentRoverPart2.docx
29-11-2022  17:18           156,402 6253046_1015605848_Rawdata-assignment-20221116.zip
29-11-2022  10:49           187,004 6255566_1848008959_6871669689685 (1).rar
29-11-2022  10:49           187,004 6255566_1848008959_6871669689685.rar
30-11-2022  10:16            34,337 6256887_1144032372_4721669744820.docx
30-11-2022  10:31            17,680 6256973_658864227_3561669747930.docx
02-12-2022  09:40    <DIR>          6257614_970114486_CMSC733Assignment5
02-12-2022  09:37            40,181 6257614_970114486_CMSC733Assignment5.zip
02-01-2023  16:47           153,635 6284500_324218519_4231671106208 (1).pdf
02-01-2023  16:46           153,635 6284500_324218519_4231671106208.pdf
29-12-2022  12:08            14,023 6293639_1144537252_task3.docx
29-12-2022  17:33           232,403 6296326_1215288445_9411672312163.pdf
29-12-2022  17:30            57,383 6296343_971359209_6011672312673 (1).docx
29-12-2022  17:34            57,383 6296343_971359209_6011672312673 (2).docx
06-01-2023  14:04            57,383 6296343_971359209_6011672312673 (3).docx
29-12-2022  17:15            57,383 6296343_971359209_6011672312673.docx
30-12-2022  18:05             4,998 6297173_1069742042_9271672401337 (1).rar
30-12-2022  18:04             4,998 6297173_1069742042_9271672401337.rar
30-12-2022  18:07             3,000 6297175_1552145183_2901672401396.rar
02-01-2023  17:05            26,914 6298281_303235459_62978852120552226SCI442Coursew (1).docx
03-01-2023  12:07            26,914 6298281_303235459_62978852120552226SCI442Coursew (2).docx
02-01-2023  16:56            26,914 6298281_303235459_62978852120552226SCI442Coursew.docx
03-01-2023  14:01           143,842 6299068_948091880_5831672665101.png
03-01-2023  14:01           354,285 6299069_207794875_6801672665102.pdf
03-01-2023  15:32            13,303 6299357_465611549_7671672685975.docx
03-01-2023  15:32         5,057,999 6299358_68953781_8531672685976.xlsx
03-01-2023  15:32        50,512,925 6299359_1675536243_3811672685978.xlsx
03-01-2023  15:23            94,784 6299371_175633961_6431672687293.xlsx
03-01-2023  20:50            22,089 6299849_410794984_5291672744220.docx
03-01-2023  20:52           581,082 6299990_898942029_6041672751306.pdf
05-01-2023  16:37           239,959 6301385_1625681581_2191672881498.pdf
07-01-2023  16:25           261,717 6301425_1448130059_7801672890194.docx
07-01-2023  16:25           212,207 6301426_654502130_9391672890196.docx
07-01-2023  16:23       201,617,580 6301722_238167626_4761672913933 (1).docx
05-01-2023  22:18       201,617,580 6301722_238167626_4761672913933.docx
07-01-2023  16:18           168,819 6303202_1793967889_8071673025731.gif
07-01-2023  16:18           179,000 6303203_1296589249_8851673025731.gif
07-01-2023  16:17           208,620 6303204_300042897_4791673025732.gif
07-01-2023  16:17           178,322 6303206_1885821677_5561673025733.gif
07-01-2023  15:18           231,559 6303420_654443766_5141673049427.pdf
03-09-2022  11:53           543,608 6a2d2d74-fd47-4c8e-9305-83c33f35b46f.pdf
03-01-2023  20:53         2,991,850 719257568_2871672743580.rar
07-01-2023  12:31        37,137,379 881577687_marketing_campaign.csv.pdf
02-07-2022  11:30         7,136,886 8-Gradientboosting-kmeanshierarichal.pdf
29-06-2022  17:02         6,328,057 8thJanStats3.pdf
29-06-2022  17:02         6,662,750 9thJanStats4.pdf
06-06-2023  13:31            54,013 abc.pdf
10-06-2023  13:49           261,128 Account_Statement_100323_090623.pdf
10-06-2023  13:52           282,455 Account_Statement_3month.pdf
10-06-2023  13:50           261,128 Account_Statement_last3month.pdf
29-09-2022  05:59         3,253,779 activation function.zip
12-10-2022  21:35            21,390 Advanced+Excel+Analytics+in+Excel.xlsx
27-10-2022  13:15            61,223 AI ENGINEER MATRIX.xlsx
01-01-2024  18:02             6,996 ai.jpeg
16-07-2023  14:46         3,999,366 airbanb.pdf
31-03-2023  18:45             1,746 AirPassengers.csv
08-01-2023  13:06            28,742 annotated bibliography.docx
13-11-2023  16:50             4,894 answere_key_cce.txt
01-12-2023  14:28         5,525,576 AnyDesk (1).exe
04-08-2022  21:13           510,875 aPI.pdf
19-12-2023  13:28               487 api19.py
29-09-2022  06:11         1,416,716 Apple+quarterly+balance+sheet.pdf
29-09-2022  06:11         1,429,366 Apple+quarterly+balance+sheet+1.pdf
04-12-2023  18:37            25,398 apply.docx
10-06-2023  13:53           427,017 Apr'23 (1).pdf
08-06-2023  09:39           427,017 Apr'23.pdf
02-09-2022  17:49    <DIR>          archive
03-09-2022  13:06    <DIR>          archive (1)
03-09-2022  13:05           641,269 archive (1).zip
02-09-2022  17:48         5,732,543 archive.zip
12-12-2022  15:08           524,200 AReM.zip
10-03-2023  18:49         1,103,184 arnaud-jaegers-Al7IoQ74-LU-unsplash.jpg
08-02-2024  18:30               143 asd.html
12-03-2023  14:33    <DIR>          asd.py
31-05-2023  17:05                89 asdf.txt
10-03-2023  21:49    <DIR>          ASSIGNMENT
29-09-2022  19:54        10,401,953 assignment (2) (2).xlsx
13-10-2023  22:10           173,843 Assumptions-of-Linear-Regression.pdf
30-07-2022  22:27           104,846 atlassian-git-cheatsheet.pdf
26-10-2023  12:02           860,651 Aug_sep_salary_slip.pdf
26-10-2023  12:00           431,525 Aug'23 (1).pdf
26-10-2023  12:00           431,525 Aug'23.pdf
19-04-2023  09:58    <DIR>          AWS
21-12-2023  15:02               404 back.py
08-02-2024  18:41            67,646 bag_shopping_client_help_business_support_customer_icon_261688.ico
07-06-2023  11:22           579,043 bank.zip
07-06-2023  11:22           444,572 bank-additional.zip
23-01-2023  22:29           391,059 bas_resume23.pdf
08-01-2023  13:06            15,587 Basics.docx
01-12-2022  16:05    <DIR>          Big_Data_Analytics_UZH-master

In [42]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [44]:
df5

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2       setosa
1            4.9          3.0           1.4          0.2       setosa
2            4.7          3.2           1.3          0.2       setosa
3            4.6          3.1           1.5          0.2       setosa
4            5.0          3.6           1.4          0.2       setosa
..           ...          ...           ...          ...          ...
5            6.0          2.0           1.0          3.0  new-species
6            6.0          5.0           4.0          6.0  new-species
7            1.0          6.0           0.0          1.0  new-species
8            0.0          0.0           3.0          2.0  new-species
9            0.0          2.0           3.0          1.0  new-species

[160 rows x 5 columns]

In [47]:
df.size

750

In [46]:
df5.size

800

In [49]:
df5.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [50]:
df5

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2       setosa
1            4.9          3.0           1.4          0.2       setosa
2            4.7          3.2           1.3          0.2       setosa
3            4.6          3.1           1.5          0.2       setosa
4            5.0          3.6           1.4          0.2       setosa
..           ...          ...           ...          ...          ...
5            6.0          2.0           1.0          3.0  new-species
6            6.0          5.0           4.0          6.0  new-species
7            1.0          6.0           0.0          1.0  new-species
8            0.0          0.0           3.0          2.0  new-species
9            0.0          2.0           3.0          1.0  new-species

[160 rows x 5 columns]

In [53]:
df5.to_csv('revision_n_p.csv', index=False)

In [55]:
df5.to_excel('excelfile.xlsx', index=False, sheet_name = "sales1220")

<ipython-input-55-3f8002ffba45>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df5.to_excel('excelfile.xlsx', index=False, sheet_name = "sales1220")